.patreon-login, .github-login {
  font-size: 2em;
  border-radius: 0;
}
.patreon-login {
  background: #F96854;
  color: #fff !important;
  border-bottom-left-radius: 3px;
}
.patreon-login:hover {
  background: #e6461a;
}
.github-login {
  background: #fff;
  color: #000 !important;
  border-bottom-right-radius: 3px;
}
.github-login:hover {
  background: #cdcdcd;
}

.premium-features {

}
.premium-feature {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 15px 10px;
  margin-bottom: 15px;
}
.premium-feature svg {
  font-size: 5em;
  margin-right: 15px;
  margin-top: 0;
}
