@import './Theme.scss';

.charparse .filter {
  margin: 0;
}

.charparse div.form-control {
  padding: 10px 12px 11px 12px;
  cursor: pointer;
}
.charparse .form-control {
  margin-bottom: 6px;
  transition: background-color 0.1s ease-in-out;
}

.charparse .form-control.selected {
  background-color: $primaryColor;
}

.charparse .row.filter {
  margin: 0;
  padding-bottom: 15px;
}

.parses-list {
  > li {
    padding: 0 15px;// to counter the negative .row margin introducing a scrollbar

    &:hover {
      background-color: rgba(255, 255, 255, 0.05);
    }
    .row {
      padding: 15px;
      line-height: 39px;

      img.spec-icon {
        border-radius: 50%;
        border: 1px solid $primaryColor;
        margin-right: 20px;
        height: 36px;
        margin-top: -2px;
      }
      .difficulty {
        margin-right: 10px;
        font-size: 18px;
        font-weight: 200;
      }
      .boss {
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
}


.charparse h2 {
  opacity: .9;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 600;
}

.charparse .char-image {
  position: absolute;
  right: 0;
  left: 0;
}

.charparse .char-image:before {
  content: "";
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 50%,
    rgba(15, 15, 15, 1) 100%
  );
}

.character-filters {
  display: flex;
  overflow: auto;
}

.character-filter {
  padding: 10px 12px;
  height: auto;
  background: rgba(0, 0, 0, 0.3);
  font-size: 1em;
  box-shadow: none;
  color: #fdf7ea;
  border-radius: 3px;
  flex: 1;
  margin: 12px 6px;
  cursor: pointer;
  user-select: none;
  background-repeat: no-repeat;
  background-position: -1%;
  background-size: contain;
}

.character-filter:first-of-type {
  margin-left: 12px;
}

.character-filter:last-of-type {
  margin-right: 12px;
}

.character-filter.selected {
  background-color: $primaryColor;
  color: #211510;
}

.spec-filter {
  padding-left: 55px;
}
