@import 'interface/Theme.scss';

.app > main > section:first-of-type {
  margin-top: 0;
  padding-top: 0;
}
section {
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
}
section:first-child {
  margin-top: 0;
}
section header h1 {
  font-size: 3em;
  margin: 0 0 0.7em;
  text-align: center;
}

.home-page {
  nav {
    position: relative;
    flex: 0 0 auto;
    text-shadow: 1px -1px 3px #150a0a, -1px 1px 3px #150a0a;
    text-align: center;
    margin: 30px 0;
    border-radius: 3px;
    overflow: hidden;

    ul {
      width: 100%;
      list-style: none;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
      grid-gap: 1px;
      padding: 0;

      li {
        position: relative;
        background: $panelColor;

        &:last-of-type {
          border-right: 0;
        }
        a {
          display: block;
          padding: 10px 20px;
          color: #fff;
          border: 2px solid transparent;
          background-color: transparent;
          line-height: 1.2;
          border-radius: 2px;
        }
        a:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
          background-image: radial-gradient(closest-side, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
        }
        a:hover {
          border: 2px solid $primaryColor;
          background: rgba(0, 0, 0, 0.1);
          text-decoration: none;
        }
        a:focus {
          text-decoration: none;
        }
        svg {
          margin: 0 10px 0 0;
          font-size: 24px;
          color: $primaryColor;
        }
        &.active a {
          background-color: $primaryColor;
          color: #211510;
          text-shadow: none;

          svg {
            color: currentColor;
            --main: currentColor;
          }
        }
      }
    }
  }
}
