@import 'interface/Theme.scss';

.raidbuffs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  h1 {
    width: 100% !important;
  }

  .panel {
    text-align: center;
    padding-bottom: 5px;
    margin: 0 0 0 5px;
    width: auto;

    &.unavailable {
      filter: grayscale(100%);
      opacity: 0.7;
    }
  }

  .icon.game {
    height: 50px;
    margin-top: 0;
    margin-bottom: 5px;
    border-radius: 0;
  }
}
