.news article figure {
  margin: 0 auto;
  text-align: center;
}
.news article figure img {
  max-width: 100%;
}
.news article figure figcaption {
  margin-top: 0.4em;
  opacity: 0.6;
  font-size: 90%;
}
