.disappearingHelperText {
  margin-top: 4px;
  overflow-y: clip;
  transition: height 0.5s;
}

.barContainer {
  border-radius: 4px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.07);
}

.barContainer .gradiated-bar-container {
  display: flex;
}

.barContainer .gradiated-bar-container > div {
  height: 24px !important;
  display: block !important;
}

.breakdownContainer {
  margin-top: 8px;
  padding: 8px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.07);
}

.boxRowScaler .performance-block-row {
  grid-template-columns: repeat(auto-fill, calc(var(--box-row-width-pct) - 3px));
  gap: 3px;
}

.boxRowScaler .performance-block {
  height: 16px !important;
  border-radius: 2px;
}
