@use 'interface/design-system' as design;

.Container {
}

.ReasonRow {
  .fail-bar {
    background-color: transparent !important;
  }

  .pass-bar {
    border-radius: 2px !important;

    &.bad {
      background-color: hsl(348.9, 69.5%, 39.8%) !important;
    }
  }
}
