@use 'interface/design-system' as design;

.StyledExplanationRow {
  display: grid;
  grid-column-gap: 1em;
  // manually setting the 2nd column width allows some responsive contents to properly identify when to overflow into scrolling
  grid-template-columns: calc(var(--leftPercent, 30) * 1%) calc(
      100% - var(--leftPercent, 30) * 1% - 1em
    );

  &.hideExplanations {
    grid-template-columns: 100%;
  }
}
