.rv-discrete-color-legend.horizontal {
    position: absolute;
    top: 0;
    left: 35%;
}

.rv-discrete-color-legend-item__title {
    color: #fff;
    display: inline-block !important;
    margin-left: 1em !important;
}

.death-line .rv-crosshair__line {
    background: red;
    width: 2px;
}

.tooltip-crosshair .rv-crosshair__line {
    background: white;
}

.tooltip-crosshair  .rv-crosshair__inner__content {
    padding: 0;
    background: none;
}

.tooltip-crosshair .rv-crosshair__inner {
    white-space: nowrap;
    position: absolute;
}

.tooltip-crosshair .rv-crosshair__inner:before {
    content: '\A';
    position: absolute;
    width: 0;
    height: 0;
    z-index: 1001;
    border-top: 10px transparent solid;
    border-bottom: 10px transparent solid;
}

.tooltip-crosshair .rv-crosshair__inner--left {
    right: 14px;
}

.tooltip-crosshair .rv-crosshair__inner--left:before {
    right: -10px;
    border-left: 10px rgba(10, 10, 10, 0.9) solid;
}

.tooltip-crosshair .rv-crosshair__inner--right {
    left: 14px;
}

.tooltip-crosshair .rv-crosshair__inner--right:before {
    left: -10px;
    border-right: 10px rgba(10, 10, 10, 0.9) solid;
}


