.ct-legend {
  position: relative;
  z-index: 10;
  list-style: none;
  text-align: center;
  margin-bottom: 0;
}
.ct-legend li {
  position: relative;
  padding-left: 19px;
  margin-right: 10px;
  margin-bottom: 3px;
  cursor: pointer;
  display: inline-block;
}
.ct-legend li:before {
  width: 12px;
  height: 12px;
  position: absolute;
  top: .3em;
  left: 0;
  content: '';
  border: 3px solid transparent;
  border-radius: 2px;
}
.ct-legend li.inactive:before {
  background: transparent;
}
.ct-legend.ct-legend-inside {
  position: absolute;
  top: 0;
  right: 0;
}
.ct-legend.ct-legend-inside li{
  display: block;
  margin: 0;
}

.ct-line {
  stroke-width: 2px;
}
.ct-grid {
  stroke: rgba(255, 255, 255, 0.2);
}
.ct-label {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1em;
  line-height: 1;
}
.ct-label.ct-vertical {
  line-height: 0;
}



.ct-series.stacks .ct-bar,
.ct-series.stacks .ct-line,
.ct-series.stacks .ct-point,
.ct-series.stacks .ct-slice-donut {
  stroke: white;
}
.ct-series.stacks .ct-area,
.ct-series.stacks .ct-slice-donut-solid,
.ct-series.stacks .ct-slice-pie {
  fill: white;
  fill-opacity: 0.2;
}

.ct-legend .stacks:before {
  background-color: white;
  border-color: white;
}



.ct-series.insanity .ct-bar,
.ct-series.insanity .ct-line,
.ct-series.insanity .ct-point,
.ct-series.insanity .ct-slice-donut {
  stroke: purple;
}
.ct-series.insanity .ct-area,
.ct-series.insanity .ct-slice-donut-solid,
.ct-series.insanity .ct-slice-pie {
  fill: purple;
  fill-opacity: 0.2;
}

.ct-legend .insanity:before {
  background-color: purple;
  border-color: purple;
}



.ct-series.insanityDrain .ct-bar,
.ct-series.insanityDrain .ct-line,
.ct-series.insanityDrain .ct-point,
.ct-series.insanityDrain .ct-slice-donut {
  stroke-width: 1px;
  stroke: black;
}
.ct-series.insanityDrain .ct-area,
.ct-series.insanityDrain .ct-slice-donut-solid,
.ct-series.insanityDrain .ct-slice-pie {
  fill: black;
  fill-opacity: 0.2;
}

.ct-legend .insanityDrain:before {
  background-color: black;
  border-color: black;
}



.ct-series.mindbender .ct-bar,
.ct-series.mindbender .ct-line,
.ct-series.mindbender .ct-point,
.ct-series.mindbender .ct-slice-donut {
  stroke: #80dfff;
  stroke-width: 3px;
}

.ct-series.mindbender .ct-area,
.ct-series.mindbender .ct-slice-donut-solid,
.ct-series.mindbender .ct-slice-pie {
  fill: #80dfff;
  fill-opacity: 0.4;
}

.ct-legend .mindbender:before {
  background-color: #80dfff;
  border-color: #80dfff;
}



.ct-series.voidtorrent .ct-bar,
.ct-series.voidtorrent .ct-line,
.ct-series.voidtorrent .ct-point,
.ct-series.voidtorrent .ct-slice-donut {
  stroke: #00e600;
  stroke-width: 3px;
}

.ct-series.voidtorrent .ct-area,
.ct-series.voidtorrent .ct-slice-donut-solid,
.ct-series.voidtorrent .ct-slice-pie {
  fill: #00e600;
  fill-opacity: 0.4;
}

.ct-legend .voidtorrent:before {
  background-color: #00e600;
  border-color: #00e600;
}



.ct-series.dispersion .ct-bar,
.ct-series.dispersion .ct-line,
.ct-series.dispersion .ct-point,
.ct-series.dispersion .ct-slice-donut {
  stroke: yellow;
  stroke-width: 3px;
}

.ct-series.dispersion .ct-area,
.ct-series.dispersion .ct-slice-donut-solid,
.ct-series.dispersion .ct-slice-pie {
  fill: yellow;
  fill-opacity: 0.6;
}

.ct-legend .dispersion:before {
  background-color: yellow;
  border-color: yellow;
}



.ct-series.lingeringInsanity .ct-bar,
.ct-series.lingeringInsanity .ct-line,
.ct-series.lingeringInsanity .ct-point,
.ct-series.lingeringInsanity .ct-slice-donut {
  stroke: gray;
  stroke-width: 3px;
}

.ct-series.lingeringInsanity .ct-area,
.ct-series.lingeringInsanity .ct-slice-donut-solid,
.ct-series.lingeringInsanity .ct-slice-pie {
  fill: gray;
  fill-opacity: 0.3;
}

.ct-legend .lingeringInsanity:before {
  background-color: gray;
  border-color: gray;
}



.ct-series.endOfFight .ct-line,
.ct-series.endOfFight .ct-point,
.ct-series.endOfFight .ct-slice-donut,
.ct-series.endOfVoidform .ct-line,
.ct-series.endOfVoidform .ct-point,
.ct-series.endOfVoidform .ct-slice-donut {
  stroke-width: 0px;
}

.ct-series.endOfFight .ct-area,
.ct-series.endOfFight .ct-slice-donut-solid,
.ct-series.endOfFight .ct-slice-pie,
.ct-series.endOfVoidform .ct-area,
.ct-series.endOfVoidform .ct-slice-donut-solid,
.ct-series.endOfVoidform .ct-slice-pie {
  fill: red;
  fill-opacity: 0.4;
}

.ct-legend .endOfFight:before,
.ct-legend .endOfVoidform:before {
  background-color: red;
  border-color: red;
}

.voidforms {
  padding-right: 2rem;
}
