# This greatly speeds up the build process if the user already has run `yarn install` locally
node_modules

# Unused files
.docker
.docker*
Docker*
*.md
# .git is very slow and we don't need it for anything but `yarn test`
.git
.git*
.editorconfig
