# Copy this file and rename it to `.env.local` to configure your own WCL API key. You can get your own API key from the bottom of the Warcraft Logs settings: https://www.warcraftlogs.com/accounts/changeuser
REACT_APP_WCL_API_KEY=186d6e59b9c4bf67db302cb703c5aa2f