# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

temp
.tmp
.sass-cache

# IDE files
# Only ignore files that might are truly user specific or regularly change! We want the project to be as pre-configured for IDEs as possible so getting started is as quick as possible.
# WebStorm
# https://intellij-support.jetbrains.com/hc/en-us/articles/206544839-How-to-manage-projects-under-Version-Control-Systems
/.idea/workspace.xml
/.idea/usage.statistics.xml
/.idea/tasks.xml
# Extension files nobody cares about
/.idea/markdown-navigator.xml
/.idea/markdown-navigator/profiles_settings.xml
# Visual Studio code
/.vscode

.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/slnx.sqlite-journal
.vs/VSWorkspaceState.json
.vs/WoWAnalyzer/v15/.suo
