# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/browser-extensions/node_modules

# production
/build
/browser-extensions/build
/browser-extensions/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

temp
.tmp
.sass-cache

# Regularly changing or system specific IDE files
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/codeStyles/*
/.vscode

.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/slnx.sqlite-journal
.vs/VSWorkspaceState.json
.vs/WoWAnalyzer/v15/.suo
