@import 'interface/guide/Guide';

$shadow: 0 0 0px 1px hsla(45, 100%, 60%, 0.7);

.performance-block-row {
  .performance-block {
    height: 0.8em;
    margin: 0 0 0 2px;
    display: inline-block;

    &:hover {
      box-shadow: $shadow;
    }
  }

  .perfect-block {
    background-color: $perfect-perf-color;
  }

  .good-block {
    background-color: $good-perf-color;
  }

  .ok-block {
    background-color: $ok-perf-color;
  }

  .bad-block {
    background-color: $bad-perf-color;
  }
}
