@import 'interface/guide/Guide';

$shadow: 0 0 0px 1px hsla(45, 100%, 60%, 0.7);

.performance-block-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin: 2px 0;
  gap: 2px;

  .performance-block {
    height: 0.8em;
    display: inline-block;
    flex-grow: 1;
    max-width: 60px;
    min-width: 10px;

    &:hover {
      box-shadow: $shadow;
    }
  }

  .perfect-block {
    background-color: $perfect-perf-color;
  }

  .good-block {
    background-color: $good-perf-color;
  }

  .ok-block {
    background-color: $ok-perf-color;
  }

  .bad-block {
    background-color: $bad-perf-color;
  }
}
