.layout {
  display: grid;
  grid-template-columns: 45% 1fr;
  gap: 2em;
}

.runicPowerSummary {
  margin-top: 1em;
}

.suggestionsColumn {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.rpTableContainer {
  display: grid;
  grid-template-columns: max-content max-content 1fr;
  gap: 2px 0.5em;
  align-items: center;
  align-content: start;
}

.blockRow {
  display: inline-flex;
  flex-direction: row;
  gap: 1px;

  & > .coloredBlock {
    height: 100%;
  }

  max-height: 1.5em;
  height: 100%;
}

.coloredBlock {
  display: inline-block;
  box-sizing: content-box;
  height: 100%;
}
