@import 'interface/Theme.scss';

.results > header {
  position: relative;
  z-index: 0;
  background: #0e0b0b;
  min-height: 600px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;

  .background {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    max-width: 1350px;
    z-index: -1;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      background: linear-gradient(to right, rgba(14, 11, 11, 1) 0%, rgba(14, 11, 11, 0) 35%, rgba(14, 11, 11, 0) 65%, rgba(14, 11, 11, 1) 100%), radial-gradient(ellipse at bottom, rgba(14, 11, 11, 0) 0%, rgba(14, 11, 11, 0.6) 100%);
    }
    .img {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center -50px; /* TODO: -50px for taloc/mother, but center for Vectis */
      background-size: cover;
    }
  }

  .subnavigation {
    flex: 0 0 auto;
    margin-top: 85px;
    padding: 15px;
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    opacity: 0.4;
    transition: opacity 400ms ease-in-out;

    &:hover {
      opacity: 1;
    }

    .phaseselector {
      flex: 1 1 auto;
    }

    .timefilter {
      flex: 1 1 auto;
      text-align: right;

      form div {
        display: inline-block;
      }

      .time-input input {
        width: auto;
        display: inline-block;
      }

      .time-input input:last-child{
        margin-right: 5px;
      }

      button.filter {
        margin-right: 5px;
      }
    }
  }

  .info {
    flex: 1 1 auto;
    min-height: 100%;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;

    > * {
      flex: 1 1 auto;
      min-width: 250px;
    }

    h1 {
      font-size: 3em;
      font-weight: 800;
      margin: 0 0 27px;
      line-height: 1;
    }
    h2 {
      font-size: 1.5em;
      font-weight: 600;
      margin: 0;
      text-transform: none;
    }
    .boss {
      line-height: 1;
    }
    .player {
      line-height: 1;
      border: 1px solid transparent;
      text-align: right;

      .builds {
        height: 36px;

        dfn {
          cursor: inherit;
          border-bottom: none;
        }

        .build {
          margin-left: 5px;

          img {
            max-height: 100% !important;
            height: 1.5em;
            border-radius: 50%;
          }

          &:hover img, &.active img {
            border: 2px solid $primaryColor;
          }
        }
      }

      .details {
        float:right;
      }

      .avatar {
        float: right;
        margin-left: 15px;
        flex: 0;
        order: 2;
        margin-top: 36px;

        img {
          border-radius: 50%;
          border: 3px solid $primaryColor;
          width: 90px;
          height: 90px;
        }
      }
      .title {
        color: #fff;
        font-size: 1.5em;
        font-weight: 600;
      }
      .spec {
        color: rgba(255, 255, 255, 0.6);
        margin-top: 3px;
        font-size: 1.2em;
      }
    }

    @media screen and (max-width: 600px) {
      display: block;
      .player {
        text-align: left;
        .avatar {
          float: left;
          margin-left: 0;
          margin-right: 15px;
        }
      }
    }
  }

  nav {
    position: relative;
    flex: 0 0 auto;
    text-shadow: 1px -1px 3px #150a0a, -1px 1px 3px #150a0a;
    border-bottom: 8px solid rgba(11, 0, 0, 0.8);
    padding: 0 15px;

    div {
      margin: 0 auto;
      text-align: center;
    }
    ul {
      width: 100%;
      list-style: none;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      padding: 15px 0;
      border-top: 1px solid rgba(255, 255, 255, 0.25);

      li {
        position: relative;
        height: 69px;
        margin-right: 15px;

        a {
          display: block;
          padding: 10px 20px;
          color: #fff;
          border: 2px solid transparent;
          background-color: transparent;
          line-height: 1.2;
          border-radius: 2px;

          svg {
            margin-top: 0;
            margin-bottom: 5px;
          }
        }
        a:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
          background-image: radial-gradient(closest-side, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
        }
        a:hover {
          border: 2px solid $primaryColor;
          background: rgba(0, 0, 0, 0.1);
          text-decoration: none;
        }
        a:focus {
          text-decoration: none;
        }
        &.active a {
          background-color: $primaryColor;
          color: #211510;
          text-shadow: none;

          svg {
            color: currentColor;
          }
        }
      }
      li:last-of-type {
        margin-right: 0;
      }
    }
    svg {
      display: block;
      margin: 0 auto;
      height: 24px;
      color: $primaryColor;
    }
  }
}
