@use 'interface/design-system' as design;

.Section {
  @include design.level(1);
  padding: 1rem;
  margin-bottom: 2.5rem;

  padding-bottom: 0;

  &.MiniHeader {
    padding-bottom: design.$gaps_small;
  }
}

.TabStrip {
  grid-area: tabs;
}

.TabSelect {
  grid-area: tabs;
}

.HeaderContainer {
  display: grid;
  gap: 0.5rem 1rem;
  grid-template-rows: auto auto auto;
  grid-template-columns: repeat(2, calc(50% - design.$gaps_small / 2));
  grid-template-areas:
    'boss character'
    'filter filter'
    'tabs tabs';

  .StatBoxContainer {
    display: none;
  }

  .TabStrip {
    display: none;
  }

  @media (min-width: 750px) {
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;

    grid-template-areas:
      'boss filter character'
      'tabs tabs stats';

    align-items: end;
    justify-items: start;

    .StatBoxContainer {
      display: flex;
    }

    .TabStrip {
      display: block;
    }
    .TabSelect {
      display: none;
    }
  }
}

.TabButton {
  appearance: none;
  border: none;
  background: none;

  display: inline-flex;
  gap: 0.5rem;
  flex-direction: row;
  align-items: center;

  & > svg {
    margin-top: 0;
    height: 1.25em;
    shape-rendering: geometricPrecision;
  }

  color: design.$colors_bodyText;

  padding: 0.5rem 0.75rem;

  border-bottom: 3px solid design.$level2_border;

  &:hover {
    background: design.$level2_background;
    text-decoration: none;
    color: inherit;
    border-bottom: 3px solid color-mix(in srgb, design.$colors_wowaYellow 90%, transparent);
  }

  &.active {
    border-bottom: 3px solid design.$colors_wowaYellow;
  }

  &:focus {
    color: inherit;
    text-decoration: none;
  }
}

.MiniBoxContainer {
  display: grid;
  gap: 0 design.$gaps_medium;

  grid-template-columns: 5rem 1fr;
  grid-template-rows: max-content max-content;
  height: 5rem;

  grid-template-areas:
    'image name'
    'image subtext';

  &.flipped {
    grid-template-columns: max-content min-content;

    grid-template-areas:
      'name image'
      'subtext image';

    justify-items: end;
    justify-content: end;
    text-align: right;
  }
}

.MiniBoxName {
  font-size: design.$fontSize_heading;
  font-weight: bold;
  white-space: break-spaces;
  overflow: hidden;
  max-height: 1lh;
}

.MiniBoxSubtext {
  font-size: 1.3rem;
  color: design.$colors_unfocusedText;
  white-space: nowrap;
  overflow-x: hidden;
}

.MiniBoxImage {
  grid-area: image;
  aspect-ratio: 1 / 1;
  border: 1px solid design.$level2_border;
  border-radius: 0.5rem;
  height: 5rem;
  max-height: 5rem;
}
