.BuffRows {
  margin-top: 4px;
}

.BuffRow {
  position: relative;
  height: 10px;

  & + & {
    margin-top: 2px;
  }
}

.BuffBar {
  position: absolute;
  top: 0;
  height: 100%;
  border-radius: 3px;
  background-color: var(--color);
  opacity: 90%;

  width: calc((var(--end) - var(--start)) / var(--fightDuration) * 100%);
  left: calc(var(--start) / var(--fightDuration) * 100%);
}
