.spell-timeline .cooldowns {
  position: unset; // get rid of relative so that `legend-container` can stick to the scroll container

  img {
    height: 100%;
    margin: 0;
    display: block;
    border: 1px solid #75736d;
    box-shadow: 0 0 3px #000;
  }

  .lane {
    position: relative;
    height: 24px;
    margin-bottom: 2px;

    > * {
      position: absolute;
      top: 0;
      display: block;
      height: 100%;
    }
    a > div:first-child {
      content: '';
      width: 1px;
      background: rgba(255, 255, 255, 0.3);
      position: absolute;
      left: 0;
    }
    > .cooldown {
      height: 60%;
      top: 20%;
      border-radius: 3px;
      background: #75736d;
      box-shadow: 0 0 2px #75736d;
      z-index: 2;

      &.post-fight {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    > .recharge {
      width: 3px;
      background: rgba(250, 250, 250, 0.6);
      z-index: 4;
    }
    > .cast {
      z-index: 3;
    }
    > .castable {
      background: rgba(248, 183, 0, 0.6);
      border-radius: 3px;
    }
  }

  .legend-container {
    position: sticky;
    width: 0;
    height: 0;
    left: 0;
    z-index: 6;

    > .legend {
      width: 24px;
      height: 24px;
      margin-bottom: 2px;
    }
  }
}
