.spell-timeline .cooldowns {
  .lane {
    position: relative;
    height: 24px;
    margin-bottom: 2px;

    > * {
      position: absolute;
      top: 0;
      display: block;
      height: 100%;
    }
    img {
      height: 100%;
      margin: 0;
      display: block;
      border: 1px solid #75736d;
      box-shadow: 0 0 3px #000;
    }
    a > div:first-child {
      content: '';
      width: 1px;
      background: rgba(255, 255, 255, 0.3);
      position: absolute;
      left: 0;
    }
    > .legend {
      left: 0;
      // TODO filter: grayscale(100%); when spell is on cooldown in scroll
      position: sticky;
      width: 24px;
      z-index: 6;
    }
    > .cooldown {
      height: 60%;
      top: 20%;
      border-radius: 3px;
      background: #75736d;
      box-shadow: 0 0 2px #75736d;
      z-index: 2;
    }
    > .recharge {
      width: 3px;
      background: rgba(250, 250, 250, 0.6);
      z-index: 4;
    }
    > .cast {
      z-index: 3;
    }
  }
}
