span.event-damage {
  color: red;
}

span.event-heal {
  color: green;
}

.flex-sub.performance-bar.event-damage {
  background-color: red;
}

.flex-sub.performance-bar.event-heal {
  background-color: green;
}