span.event-damage {
  color: red;
}

span.event-damage:before {
  content: '-';
}

span.event-heal {
  color: green;
}

span.event-heal:before {
  content: '+';
}

.hit-type-8:after {
  content: ' (Parry)';
}

.flex-sub.performance-bar.event-damage {
  background-color: red;
}

.flex-sub.performance-bar.event-heal {
  background-color: green;
}