/* Gets applied to body to disable scrollbar and allow us to blur other elements */
.spec-information-overlay-active {
  overflow: hidden;
}
/* We need to blur the background so it doesn't bleed through the background opacity which would make things a lot harder to read. */
.spec-information-overlay-active nav, .spec-information-overlay-active .results {
  filter: blur(3px);
}

#spec-description-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(228, 90, 87, 0.9);
  color: #000;
  overflow: auto;
  z-index: 100;
}
#spec-description-overlay a {
  color: #f5f5f5;
}
#spec-description-overlay .close {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 1;
  font-size: 90px;
  /* To make the hitbox larger and make more sense: */
  padding: 20px;
  border-radius: 50%;
  /* To make it actually a circle (mostly): */
  line-height: 1;
  cursor: pointer;
}
#spec-description-overlay .close:hover {
  color: #555;
}
#spec-description-overlay > main {
  padding-top: 140px;
}
#spec-description-overlay .spec-name {
  font-size: 80px;
  line-height: 75px;
  font-weight: bold;
  text-align: center;
}
#spec-description-overlay .maintainers {
  font-size: 30px;
  text-align: right;
}
#spec-description-overlay .maintainers img {
  border-radius: 50%;
  border: 2px solid #000;
  margin: -7px 4px 0;
  height: 1.2em;
}
#spec-description-overlay .description {
  margin-top: 50px;
  font-size: 15px;
  padding: 0 60px;
  text-align: justify;
}
#spec-description-overlay .actions {
  margin-top: 50px;
  padding: 0 60px;
  text-align: center;
}
#spec-description-overlay .actions h1 {
  font-size: 14px;
  line-height: 1;
  margin-bottom: 0;
  padding-bottom: 2px;
  border-bottom: 1px solid #000;
  letter-spacing: 1px;
  font-weight: 400;
}
#spec-description-overlay .actions main {
  margin-top: 5px;
  font-size: 20px;
}
#spec-description-overlay .changelog {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 0 60px;
}
#spec-description-overlay .changelog .log {
  position: relative;
  float: left;
  padding: 30px 0;
}
#spec-description-overlay .changelog .log .line {
  position: absolute;
  left: 4%;
  top: 0;
  height: 100%;
  width: 4px;
  margin-left: -2px;
  background: #222;
}
#spec-description-overlay .changelog .log > div:not(.line) {
  position: relative;
  border: 1px solid #222;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 10%;
  width: 90%;
}
#spec-description-overlay .changelog .log > div:not(.line):before {
  content: '';
  position: absolute;
  top: 2rem;
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-right: 9px solid #222;
  left: -1px;
  -webkit-transform: translate(-100%,-50%);
  -ms-transform: translate(-100%,-50%);
  transform: translate(-100%,-50%);
}
#spec-description-overlay .changelog .log > div .edit {
  position: absolute;
  top: 2rem;
  left: -7%;
  font-size: 2rem;
  line-height: 1;
  border: 2px solid #222;
  border-radius: 50%;
  padding: .5rem;
  color: #222;
  background: #f5f5f5;
  width: 3rem;
  height: 3rem;
  -webkit-box-shadow: rgba(0,0,0,.08) 0 2px 0 inset;
  box-shadow: inset 0 2px 0 rgba(0,0,0,.08);
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
#spec-description-overlay .changelog .log > div .edit img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
}
