$colors_bodyText: #f3eded;
$colors_unfocusedText: #ccc;
$colors_wowaYellow: #fab700;

$level0_background: hsl(44, 7%, 8%);
$level0_border: #161616;
$level0_shadow: 0 1px 3px black;

$level1_background: hsl(44, 7%, 10%);
$level1_border: #262626;
$level1_shadow: 0 1px 4px black;

$level2_background: hsl(44, 7%, 13%);
$level2_border: #303030;
$level2_shadow: 0 1px 6px #101010;
$level2_background_active: hsl(44, 9%, 15%);

$gaps_small: 0.5rem;
$gaps_medium: 1rem;
$gaps_large: 2rem;

$fontSize_bodyText: 1.4rem;
$fontSize_subHeading: 1.6rem;
$fontSize_heading: 1.8rem;
