.display-ad {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  align-items: end;

  a:not(:only-child) {
    display: none;
  }

  #leaderboard_atf > *,
  iframe {
    max-width: 970px;
  }
}
