html {
  min-height: 100%;
}
body {
  line-height: 1.8;
  font-family: 'Open Sans', 'Century Gothic', sans-serif;
  text-rendering: optimizeLegibility;
  background: #2e2e2e;
  color: #969696;
}
@media (max-width: 1200px) {
  body {
    font-size: 13px;
  }
}
@media (max-width: 800px) {
  body {
    font-size: 12px;
  }
}
.container {
  width: 100%;
  max-width: 1200px;
}

.icon {
  height: 1em;
  fill: currentColor;
  vertical-align: middle;
  margin-top: -0.15em;
}
