:root {
  --modified: rgba(255, 118, 0, 0.3);
  --fabricated: rgba(0, 255, 67, 0.15);
  --reordered: rgba(50, 20, 255, 0.3);
}

.events-tab {
  width: 100%;
  font-size: 13px;
}
.events-tab .ReactVirtualized__Table__row:nth-child(2n) {
  background: rgba(255, 255, 255, 0.03);
}
.events-tab .ReactVirtualized__Table__row:hover {
  background: rgba(255, 255, 255, 0.15);
}
.events-tab .ReactVirtualized__Table__row.modified,
.modified-legend {
  background: var(--modified);
}
.events-tab .ReactVirtualized__Table__row.modified:hover {
  background: rgba(255, 118, 0, 0.4);
}
.events-tab .ReactVirtualized__Table__row.reordered,
.reordered-legend {
  background: var(--reordered);
}
.events-tab .ReactVirtualized__Table__row.reordered:hover {
  background: rgba(50, 20, 255, 0.4);
}
.events-tab .ReactVirtualized__Table__row.fabricated,
.fabricated-legend {
  background: var(--fabricated);
}
.events-tab .ReactVirtualized__Table__row.modified-fabricated {
  background: linear-gradient(0.25turn, var(--modified), var(--fabricated));
}
.events-tab .ReactVirtualized__Table__row.modified-reordered {
  background: linear-gradient(0.25turn, var(--modified), var(--reordered));
}
.events-tab .ReactVirtualized__Table__row.fabricated-reordered {
  background: linear-gradient(0.25turn, var(--fabricated), var(--reordered));
}
.events-tab .ReactVirtualized__Table__row.modified-fabricated-reordered {
  background: linear-gradient(0.25turn, var(--modified), var(--fabricated), var(--reordered));
}
.events-tab .ReactVirtualized__Table__row:nth-child(2n).fabricated {
  background: rgba(0, 255, 67, 0.06);
}
.events-tab .ReactVirtualized__Table__row.fabricated:hover {
  background: rgba(0, 255, 67, 0.25);
}
.events-tab .exists {
  color: green;
}
.events-tab .damage {
  color: red;
}
.events-tab .heal {
  color: green;
}
.events-tab .absorbed {
  color: orange;
}
.events-tab .cast,
.events-tab .begincast,
.events-tab .freecast {
  color: hotpink;
}
.events-tab .applybuff,
.events-tab .removebuff,
.events-tab .refreshbuff,
.events-tab .applybuffstack,
.events-tab .removebuffstack {
  color: lightskyblue;
}
.events-tab .applydebuff,
.events-tab .removedebuff,
.events-tab .refreshdebuff,
.events-tab .applydebuffstack,
.events-tab .removedebuffstack {
  color: #ffe200;
}
.events-tab .energize {
  color: mediumpurple;
}
.events-tab .drain {
  color: purple;
}
.events-tab .overheal,
.events-tab .NPC,
.events-tab .combatantinfo,
.events-tab .Pet {
  color: gray;
}
.events-tab .effect {
  text-align: right;
}
.events-tab .crit {
  font-weight: bold;
  font-style: italic;
  font-size: 1.1em;
}
.events-tab .crit:before,
.events-tab .crit:after {
  content: '*';
}
.events-tab .negative {
  color: darkorange;
}
.events-tab a img {
  height: 1.6em;
  border-radius: 3px;
  border: 1px solid #000;
}
.events-tab .config label {
  min-width: 150px;
}
