@import './Theme.scss';

.reports-list {
  > li {
    padding: 0 15px; // to counter the negative .row margin introducing a scrollbar

    &:hover {
      background-color: rgba(255, 255, 255, 0.05);
    }

    .row {
      padding: 10px;
      line-height: 25px;
    }
  }
}
