@import 'layout/Theme.scss';

.app > header {
  margin-bottom: 90px;
  transition: all 600ms;
  opacity: 1;
  padding-top: 100px;
  padding-bottom: 30px;

  a {
    color: #fff;
  }
  .call-to-action {
    background: $primaryColor;
    padding: 30px;
    margin-bottom: 30px;
    color: #251a01;

    .description {
    }
  }
}
.menu-item.logo svg {
  --main: #fff;
}
.app:not(.show-report-selecter) > header {
  margin-top: -535px;
  margin-bottom: 90px;
  opacity: 0;
  pointer-events: none;
}
.app > header h1 {
  font-size: 4em;
}
.app > header .description {
  font-size: 1.4em;
  margin-bottom: 1em;
}
.app > header .report-selector {
  margin-bottom: 10px;
}
.app > header .about {
  font-size: 0.9em;
}
@media (max-width: 600px) {
  .app > header {
    padding-top: 60px;
  }
  .app > header h1 {
    font-size: 3em;
    margin-bottom: 0.2em;
  }
  .app > header .description {
    font-size: 1.2em;
    margin-bottom: 0.5em;
  }
}
@media (max-width: 400px) {
  .app > header {
    padding-top: 40px;
  }
}
.character-selector {
  display: flex;
  margin-bottom: 10px;
  height: 42px;
}
.character-selector > .realm-search--select, .character-selector > input[name=code], .character-selector > button {
  margin-left: 2px;
}
.realm-search__select {
  display: none;
}
.realm-search--multiple .realm-search__select {
  display: block;
}
.realm-search__select--display {
  display: block;
  width: 183px;
  z-index: 999;
  position: absolute;
}
.realm-search__search {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 8px 12px;
  font-size: 1em;
  box-shadow: none;
  color: #fdf7ea;
  border-radius: 0;
  outline: none;
  width: 100%;
  height: 42px;
}
.realm-search__search:focus {
  box-shadow: none;
  border: 1px solid $primaryColor;
}
.realm-search__options {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  list-style: none;
  padding: 0;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-top: none;
}
.realm-search__option {
  padding: 4px 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.realm-search__option--selected {
  color: $primaryColor;
}
.image-overlay .parse-tabs {
  margin-bottom: 2px;
}
.image-overlay .parse-tabs > span {
  display: inline-block;
  padding: 3px 8px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-right: 2px;
}
.image-overlay .parse-tabs > span.selected {
  background-color: rgba($primaryColor, .8);
}
.animated-button {
  box-shadow: inset 0 0 0 0 $muted;
  transition: box-shadow 1.2s linear;
}
.animated-button.fill-button {
  box-shadow: inset 200px 0 0 0 $muted;
}
.app > header .form-control, .app > header .realm-search__search, .app > header .parse-tabs > span {
  background: rgba(0, 0, 0, 0.8);
}
.app > header .form-control::placeholder, .app > header .realm-search__search::placeholder {
  color: #777;
}
