@import './Theme.scss';

.flex-sub-news {
  padding-top: 30px;
}
.news article figure {
  margin: 0 auto;
  text-align: center;
}
.news article figure img {
  max-width: 100%;
}
.news article figure figcaption {
  margin-top: 0.4em;
  opacity: 0.6;
  font-size: 90%;
}

.changelog-entry {
  .panel-heading {
    padding-top: 25px; // normally the heading is a h1 and uses more space, but since this contains a small it needs extra padding
    padding-bottom: 0;
  }
  svg {
    height: 1em;
  }
  .contributor {
    margin-top: -0.1em;
  }
}

@media(max-width: 767px) {
  .flex-news {
    flex-direction: column;
  }

  .flex-sub-news {
    padding-top: 0;
  }
}
