.panel {
  width: 100%;
  margin-bottom: 30px;
  background: #363636;
  border-radius: 3px;
}
.panel-heading {
  padding: 30px 32px;
  font-size: 16px;
  color: #c2c2c2;
}
.panel-heading small {
  display: block;
  font-size: 12px;
  color: rgba(177, 188, 192, .47);
}
.panel > .panel-body {
  padding: 15px 30px;
}
