.panel {
  width: 100%;
  margin-bottom: 30px;
  background: #363636;
  border-radius: 3px;

  .panel-heading {
    padding: 30px 32px;
    font-size: 16px;
    color: #c2c2c2;

    small {
      display: block;
      font-size: 12px;
      color: rgba(177, 188, 192, .47);
    }
  }
  .panel-heading-image {
    height: 250px;
    background-size: cover;
    background-position: center center;
  }
  .panel-body.pad {
    padding: 15px 30px;
  }
  .panel-body > ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .panel-body > ul > li.expandable .meta {
    padding: 15px 30px;
  }
  .panel-body > ul > li.expandable .meta {
    cursor: pointer;
  }
  .panel-body > ul > li.expandable .meta:hover {
    background-color: rgba(255, 255, 255, .02);
  }
}
