.loginBubble {
  position: absolute;
  left: -15px;
  width: 164px;
  z-index: 10;
  background: #1e1d1c;
  color: #fff;
  padding: 5px 9px;
  top: 50%;
  transform: translateY(-50%) translateX(-100%);
  border-radius: 3px;

  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) translateX(100%);
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 9px solid #1e1d1c;
  }
}
