@import 'sass-text-stroke/_text-stroke';

$primaryColor: #fab700; // #f86725?
$muted: hsla(44, 6%, 78%, 0.47);
$red: #ac1f39;
$panelColor: hsla(44, 3%, 11%, 1);
$backgroundColor: hsl(44, 7%, 8%);

@value primaryColor #{$primaryColor};
