@use 'interface/design-system' as design;

.Header {
  padding: 0.25em 0.75em 0.5em 0.75em;
  border-radius: 4px 4px 0 0;
  display: grid;
  grid-template-areas: 'icon title' 'icon desc';
  grid-template-columns: max-content 1fr;
  grid-template-rows: auto auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  gap: 0 1em;
}

.Footer {
  appearance: none;
  background: none;
  border: none;
  width: 100%;
  border-radius: 0 0 4px 4px;
  border-top: 2px solid hsla(0, 0%, 0%, 20%);
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 0.25em 0.75em;

  &:focus {
    outline: none;
  }

  color: #fab700;
}

.Body {
}

.Container {
  border-radius: 4px;
  background-color: hsl(0, 0%, 10%);

  & > .Header {
    background-color: hsl(0, 0%, 13%);
  }

  &.important {
    background-color: hsl(0, 0%, 15%);

    & > .Header {
      background-color: hsl(0, 0%, 18%);
    }
  }

  &:has(> .Header:hover, > .Footer:hover, > .Footer:focus) {
    box-shadow: 0px 0px 2px 2px rgba(250, 183, 0, 0.9);
    cursor: pointer;
  }

  & > .Body {
    padding: 0 1em;
    max-height: 0;
    transition:
      max-height 0.15s ease-out,
      padding-top 0.15s ease-out,
      padding-bottom 0.15s ease-out;
    overflow: hidden;
  }

  &.expanded > .Body {
    padding: 0.5em 1em;
    max-height: 999px;
    transition:
      max-height 0.15s ease-in,
      padding-top 0.14s ease-in,
      padding-bottom 0.14s ease-in;
  }
}

.GlyphIcon {
  grid-area: icon;
  font-weight: bold;
  font-size: 300%;
  padding: 0 0.35em;
  display: flex;
  flex-direction: row;
  align-items: center;

  & > .bad-mark {
    color: hsl(
      349,
      100%,
      43%
    ); /* little hack to brighten up the bad mark since we're brightening the bg */
  }
}

.Title {
  grid-area: title;
  font-size: 130%;
  align-self: end;
}

.Description {
  grid-area: desc;
  align-self: start;
  font-size: 100%;
  color: hsl(44, 6%, 78%);
}

.FakeGlyphicon {
  width: 42px;
  font-style: normal;
  text-align: center;
  font-weight: 900;
}
