.list.issues .item {
  display: flex;
}
.list.issues .item > .icon {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}
.list.issues .item > .icon img {
  height: 40px;
  border-radius: 50%;
  border: 1px solid #f8b700;
}
.list.issues .item > .suggestion {
  flex: 1 1 auto;
  padding: 3px 15px;
}
.list.issues .item > .suggestion small {
  display: block;
}
.list.issues .item > .importance {
  flex: 0 0 auto;
  text-transform: uppercase;
  min-width: 70px;

  /* vertical-align: middle in CSS is actually this: :( */
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.list.issues .regular .importance {
  color: #ffad56;
}
.list.issues .minor .importance {
  color: #5b9cff;
}
.list.issues .major .importance {
  color: #ff433d;
}
