.spell-timeline > * {
  position: relative;
}
/* Time indicator */
.spell-timeline .time-line {
  white-space: nowrap;
  height: 16px;
  border-bottom: 1px solid #fff;
}
.spell-timeline .time-line > * {
  height: 100%;
  float: left;
  border-left: 1px solid #fff;
  padding-left: 3px;
  line-height: 1;
  font-size: 14px;
  position: relative;
  top: 8px;
}
.spell-timeline .time-line > *:before {
  content: attr(data-duration);
  position: absolute;
  left: 0;
  top: 18px;
  transform: translateX(-50%);
  color: rgba(200, 200, 200, 0.8);
}
/* Casts indicators */
.spell-timeline .casts {
  width: 100%;
  top: -1px;
  height: 17px;
}
.spell-timeline .casts > * {
  position: absolute;
  top: -8px;
  height: 100%;
}
.spell-timeline .casts a {
  z-index: 3;
}
.spell-timeline .casts a img {
  border-radius: 3px;
  border: 1px solid #000;
  margin-top: 0;
  height: 19px;
  position: relative;
  top: -1px;
  display: block;
}
.spell-timeline .casts .gcd {
  border-radius: 3px;
  background: rgba(248, 183, 0, 0.75);
  box-shadow: 0 0 4px rgba(248, 183, 0, 0.75);
  z-index: 2;
}
/* Cooldown lanes */
.spell-timeline .cooldowns {
  display: none; /* disabled for now, hide behind toggle at some point */
}
.spell-timeline .cooldowns .lane {
  position: absolute;
  left: 0;
  height: 22px;
  background: rgba(255, 255, 255, 0.1);
}
.spell-timeline .cooldowns .lane:nth-of-type(odd) {
  background: rgba(255, 255, 255, 0.04);
}
.spell-timeline .cooldowns .lane > * {
  position: absolute;
  top: 0;
  display: block;
  height: 100%;
}
.spell-timeline .cooldowns .lane img {
  height: 100%;
  margin: 0;
  display: block;
  /*transform: translateX(-50%);*/
}
.spell-timeline .cooldowns .lane a > div:first-child {
  content: '';
  width: 1px;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  left: 0;
}
.spell-timeline .cooldowns .lane > .legend {
  left: -26px;
  filter: grayscale(100%);
}
.spell-timeline .cooldowns .lane > .cooldown {
  background: rgba(150, 150, 150, 0.4);
  height: 100%;
  border-radius: 3px;
  background: #f8b700;
  box-shadow: 0 0 4px #f8b700;
  z-index: 2;
}
.spell-timeline .cooldowns .lane > .recharge {
  width: 3px;
  background: rgba(250, 250, 250, 0.6);
  z-index: 4;
}
.spell-timeline .cooldowns .lane > .cast {
  z-index: 3;
}
/*.spell-timeline .time-line > *:before, .spell-timeline .time-line > *:after {*/
  /*content: '';*/
  /*position: absolute;*/
  /*left: 50%;*/
  /*bottom: 0;*/
  /*height: 16px;*/
  /*border-left: 1px solid #fff;*/
/*}*/
/*.spell-timeline .time-line.interval-3 > *:before {*/
  /*left: 33%;*/
/*}*/
/*.spell-timeline .time-line.interval-3 > *:after {*/
  /*left: 66%;*/
/*}*/
/*.spell-timeline .time-line:not(.interval-3) > *:after {*/
  /*display: none;*/
/*}*/
