.spell-timeline > * {
  position: relative;
}
/* Time indicator */
.spell-timeline .time-line {
  white-space: nowrap;
  height: 32px;
}
.spell-timeline .time-line > * {
  height: 100%;
  float: left;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 3px;
  line-height: 1;
  font-size: 14px;
  position: relative;
}
.spell-timeline .time-line > *:before {
  content: attr(data-duration);
  position: absolute;
  left: 0;
  top: 33px;
  transform: translateX(-50%);
  color: rgba(200, 200, 200, 0.8);
}
.spell-timeline .time-line > *:after {
  content: '';
  width: 1px;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 22px;
  height: 7px;
  left: 50%;
}
.spell-timeline .time-line > *:first-of-type {
  top: 14px;
  height: calc(100% - 14px);
}
.spell-timeline .time-line > *:first-of-type:before {
  top: calc(33px - 14px);
}
.spell-timeline .time-line > *:first-of-type:after {
  top: calc(22px - 14px);
}
/* Casts indicators */
.spell-timeline .casts {
  width: 100%;
  border-radius: 10px;
  top: -32px;
  height: 22px;
  background: rgba(255, 255, 255, .15);
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  box-sizing: content-box;
}
.spell-timeline .casts > * {
  position: absolute;
  height: 100%;
}
.spell-timeline .casts a {
  z-index: 3;
  display: block;
}
.spell-timeline .casts a img {
  border: 1px solid #f8b700;
  box-shadow: 0 0 3px #000;
  border-radius: 2px;
  margin-top: 0;
  height: 100%;
  display: block;
}
.spell-timeline .casts a.cancelled:before {
  content: 'âŒ';
  position: absolute;
  text-align: center;
  font-size: 15px;
  line-height: 22px;
  font-weight: 800;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: red;
}
.spell-timeline .casts a.cancelled img {
  border-color: red;
}
/*noinspection CssOverwrittenProperties*/
.spell-timeline .casts a.lower {
  --level: 0;
  height: 22px;
  top: 50px;
  top: calc(54px + var(--level) * 25px);
}
.spell-timeline .casts a.lower img {
  border-color: #ecb000;
  transform: translateX(-50%);
  z-index: 2;
  position: relative;
}
/*noinspection CssOverwrittenProperties*/
.spell-timeline .casts a.lower .time-indicator {
  position: absolute;
  bottom: 7px;
  height: 50px;
  height: calc(45px + var(--level) * 25px);
  width: 1px;
  background: #ecb000;
}
.spell-timeline .casts a.lower .time-indicator:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #ecb000;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.spell-timeline .casts .gcd {
  border-radius: 5px;
  background: #f8b700;
  box-shadow: 0 0 3px #000;
  z-index: 2;
  height: 10px;
  top: 6px;
}
.spell-timeline .casts .channel {
  border-radius: 5px;
  /*background: #505ff8;*/
  /*background: #9f710f;*/
  /* Source: http://www.heropatterns.com/ */
  background-color: #9f710f;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ecb000' fill-opacity='0.6' fill-rule='evenodd'%3E%3Cpath d='M0 10L10 0H5L0 5M10 10V5L5 10'/%3E%3C/g%3E%3C/svg%3E");
  box-shadow: 0 0 3px #000;
  z-index: 2;
  height: 10px;
  top: 6px;
}
/* Buffs */
.spell-timeline .buffs {
  width: 100%;
  border-radius: 10px;
  top: 0px;
  height: 22px;
  box-sizing: content-box;
}
.spell-timeline .buffs > * {
  position: absolute;
  height: 100%;
}
.spell-timeline .buffs a {
  z-index: 3;
  display: block;
}
.spell-timeline .buffs a img {
  border: 1px solid #f8b700;
  box-shadow: 0 0 3px #000;
  border-radius: 2px;
  margin-top: 0;
  height: 100%;
  display: block;
}
/*noinspection CssOverwrittenProperties*/
.spell-timeline .buffs a.hoist {
  --level: 0;
  height: 22px;
  top: -13px;
  top: calc(-13px + var(--level) * -25px);
}
/*noinspection CssOverwrittenProperties*/
.spell-timeline .buffs a.hoist .time-indicator {
  position: absolute;
  top: 7px;
  height: 50px;
  height: calc(50px + var(--level) * 30px);
  width: 1px;
  background: #f8b700;
}
/*noinspection CssOverwrittenProperties*/
.spell-timeline .buffs .buff {
  border-top-right-radius: 5px;
  /*background: hsla(41, 1%, 52%, 0.2);*/
  background: rgba(149, 171, 255, 0.2);
  box-shadow: 0 0 3px #000;
  z-index: 2;
  height: calc(52px + var(--level) * 25px);
  --level: 0;
  top: -8px;
  top: calc(-8px + var(--level) * -25px);
}
/* Cooldown lanes */
.spell-timeline .cooldowns .lane {
  display: none;
  position: absolute;
  left: 0;
  height: 16px;
  /*background: rgba(255, 255, 255, 0.1);*/
}
.spell-timeline .cooldowns .lane:nth-of-type(odd) {
  /*background: rgba(255, 255, 255, 0.04);*/
}
.spell-timeline .cooldowns .lane > * {
  position: absolute;
  top: 0;
  display: block;
  height: 100%;
}
.spell-timeline .cooldowns .lane img {
  height: 100%;
  margin: 0;
  display: block;
  border: 1px solid #f8b700;
  box-shadow: 0 0 3px #000;
}
.spell-timeline .cooldowns .lane a > div:first-child {
  content: '';
  width: 1px;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  left: 0;
}
.spell-timeline .cooldowns .lane > .legend {
  left: -20px;
  filter: grayscale(100%);
  display: none;
}
.spell-timeline .cooldowns .lane > .cooldown {
  background: rgba(150, 150, 150, 0.4);
  height: 60%;
  top: 20%;
  border-radius: 3px;
  background: #f8b700;
  box-shadow: 0 0 4px #f8b700;
  z-index: 2;
}
.spell-timeline .cooldowns .lane > .recharge {
  width: 3px;
  background: rgba(250, 250, 250, 0.6);
  z-index: 4;
}
.spell-timeline .cooldowns .lane > .cast {
  z-index: 3;
}
/*.spell-timeline .time-line > *:before, .spell-timeline .time-line > *:after {*/
  /*content: '';*/
  /*position: absolute;*/
  /*left: 50%;*/
  /*bottom: 0;*/
  /*height: 16px;*/
  /*border-left: 1px solid #fff;*/
/*}*/
/*.spell-timeline .time-line.interval-3 > *:before {*/
  /*left: 33%;*/
/*}*/
/*.spell-timeline .time-line.interval-3 > *:after {*/
  /*left: 66%;*/
/*}*/
/*.spell-timeline .time-line:not(.interval-3) > *:after {*/
  /*display: none;*/
/*}*/
