.spell-timeline > * {
  position: relative;
}
/* Time indicator */
.spell-timeline .time-line {
  white-space: nowrap;
  height: 32px;
}
.spell-timeline .time-line > * {
  height: 100%;
  float: left;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 3px;
  line-height: 1;
  font-size: 14px;
  position: relative;
}
.spell-timeline .time-line > *:first-of-type {
  border-left: none;
}
.spell-timeline .time-line > *:first-of-type:before {
  content: '';
}
.spell-timeline .time-line > *:before {
  content: attr(data-duration);
  position: absolute;
  left: 0;
  top: 33px;
  transform: translateX(-50%);
  color: rgba(200, 200, 200, 0.8);
}
.spell-timeline .time-line > *:after {
  content: '';
  width: 1px;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 22px;
  height: 7px;
  left: 50%;
}
/* Casts indicators */
.spell-timeline .casts {
  width: 100%;
  border-radius: 10px;
  top: -32px;
  height: 22px;
  background: rgba(255, 255, 255, .15);
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  box-sizing: content-box;
}
.spell-timeline .casts > * {
  position: absolute;
  height: 100%;
}
.spell-timeline .casts a {
  z-index: 3;
  display: block;
}
.spell-timeline .casts a img {
  border: 1px solid #f8b700;
  box-shadow: 0 0 3px #000;
  border-radius: 2px;
  margin-top: 0;
  height: 100%;
  display: block;
}
.spell-timeline .casts a.cancelled:before {
  content: 'âŒ';
  position: absolute;
  text-align: center;
  font-size: 15px;
  line-height: 22px;
  font-weight: 800;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: red;
}
.spell-timeline .casts a.cancelled img {
  border-color: red;
}
/*noinspection CssOverwrittenProperties*/
.spell-timeline .casts a.hoist {
  --level: 0;
  top: -35px;
  top: calc(-35px + var(--level) * -30px);
}
/*noinspection CssOverwrittenProperties*/
.spell-timeline .casts a.hoist .time-indicator {
  position: absolute;
  top: 7px;
  height: 50px;
  height: calc(50px + var(--level) * 30px);
  width: 1px;
  background: #f8b700;
}
.spell-timeline .casts .gcd {
  border-radius: 5px;
  background: #f8b700;
  box-shadow: 0 0 3px #000;
  z-index: 2;
  height: 10px;
  top: 6px;
}
/* Cooldown lanes */
.spell-timeline .cooldowns {
  display: none; /* disabled for now, hide behind toggle at some point */
}
.spell-timeline .cooldowns .lane {
  position: absolute;
  left: 0;
  height: 22px;
  background: rgba(255, 255, 255, 0.1);
}
.spell-timeline .cooldowns .lane:nth-of-type(odd) {
  background: rgba(255, 255, 255, 0.04);
}
.spell-timeline .cooldowns .lane > * {
  position: absolute;
  top: 0;
  display: block;
  height: 100%;
}
.spell-timeline .cooldowns .lane img {
  height: 100%;
  margin: 0;
  display: block;
  /*transform: translateX(-50%);*/
}
.spell-timeline .cooldowns .lane a > div:first-child {
  content: '';
  width: 1px;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  left: 0;
}
.spell-timeline .cooldowns .lane > .legend {
  left: -26px;
  filter: grayscale(100%);
}
.spell-timeline .cooldowns .lane > .cooldown {
  background: rgba(150, 150, 150, 0.4);
  height: 100%;
  border-radius: 3px;
  background: #f8b700;
  box-shadow: 0 0 4px #f8b700;
  z-index: 2;
}
.spell-timeline .cooldowns .lane > .recharge {
  width: 3px;
  background: rgba(250, 250, 250, 0.6);
  z-index: 4;
}
.spell-timeline .cooldowns .lane > .cast {
  z-index: 3;
}
/*.spell-timeline .time-line > *:before, .spell-timeline .time-line > *:after {*/
  /*content: '';*/
  /*position: absolute;*/
  /*left: 50%;*/
  /*bottom: 0;*/
  /*height: 16px;*/
  /*border-left: 1px solid #fff;*/
/*}*/
/*.spell-timeline .time-line.interval-3 > *:before {*/
  /*left: 33%;*/
/*}*/
/*.spell-timeline .time-line.interval-3 > *:after {*/
  /*left: 66%;*/
/*}*/
/*.spell-timeline .time-line:not(.interval-3) > *:after {*/
  /*display: none;*/
/*}*/
