.ct-series.wasted .ct-bar, .ct-series.wasted .ct-line, .ct-series.wasted .ct-point, .ct-series.wasted .ct-slice-donut {
  stroke: #ff6dd7;
}
.ct-series.wasted .ct-area, .ct-series.wasted .ct-slice-donut-solid, .ct-series.wasted .ct-slice-pie {
  fill: #ff2ad7;
  fill-opacity: 0.2;
}
.ct-legend .wasted:before {
  background-color: #ff6dd7;
  border-color: #ff6dd7;
}
.ct-series.pain .ct-bar, .ct-series.pain .ct-line, .ct-series.pain .ct-point, .ct-series.pain .ct-slice-donut {
  stroke: #008fff;
}
.ct-series.pain .ct-area, .ct-series.pain .ct-slice-donut-solid, .ct-series.pain .ct-slice-pie {
  fill: #008fff;
  fill-opacity: 0.2;
}
.ct-legend .pain:before {
  background-color: #008fff;
  border-color: #008fff;
}