.spell-timeline-container {
  position: relative;
  width: 100%;
  overflow: auto;
  padding-bottom: 6px;

  &::-webkit-scrollbar {
    height: 12px;
    cursor: default !important;
  }
  &::-webkit-scrollbar-track {
    background: rgba(104, 103, 100, 0.15);
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #fab700;
  }
}
.spell-timeline-premium-box {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 10;
  font-size: 20px;
  padding: 15px;
  background: linear-gradient(to right, transparent 0px, rgb(22, 21, 19) 100px);
  padding-left: 115px;

  > div {
    min-width: 300px;
    max-width: 550px;
    position: sticky;
    left: 15px;
  }
}
.spell-timeline > * {
  position: relative;
}
/* Time indicator */
.spell-timeline .time-line {
  white-space: nowrap;
  height: 32px;

  > * {
    height: 100%;
    display: inline-block;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    padding-left: 3px;
    line-height: 1;
    font-size: 14px;
    position: relative;
  }
  > *:before {
    content: attr(data-duration);
    position: absolute;
    left: 0;
    top: 33px;
    transform: translateX(-50%);
    color: rgba(200, 200, 200, 0.8);
  }
  > *:after {
    content: '';
    width: 1px;
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 22px;
    height: 7px;
    left: 50%;
  }
  > *:first-of-type {
    height: calc(100% - 14px);
  }
  > *:first-of-type:before {
    top: calc(33px - 14px);
  }
  > *:first-of-type:after {
    top: calc(22px - 14px);
  }
}
