@import 'interface/Theme.scss';

.player-info {
  display: block;

  a:hover {
    text-decoration: none;
  }

  .player-background {
    background-position: center;
    background-size: cover;
  }

  .player-gear {
    display: grid;
    grid-template-columns: 45px 15px auto 30px 15px 45px 45px 15px 30px auto 15px 45px;
    grid-template-rows: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px;
    grid-template-areas: "item-slot-0 item-slot-0-gem . avg-ilvl avg-ilvl avg-ilvl avg-ilvl avg-ilvl avg-ilvl . item-slot-9-gem item-slot-9" "item-slot-0 item-slot-0-enchant . avg-ilvl avg-ilvl avg-ilvl avg-ilvl avg-ilvl avg-ilvl . item-slot-9-enchant item-slot-9" "item-slot-1 item-slot-1-gem . avg-ilvl avg-ilvl avg-ilvl avg-ilvl avg-ilvl avg-ilvl . item-slot-5-gem item-slot-5" "item-slot-1 item-slot-1-enchant . . . . . . . . item-slot-5-enchant item-slot-5" "item-slot-2 item-slot-2-gem . . . . . . . . item-slot-6-gem item-slot-6" "item-slot-2 item-slot-2-enchant . . . . . . . . item-slot-6-enchant item-slot-6" "item-slot-14 item-slot-14-gem . . . . . . . . item-slot-7-gem item-slot-7" "item-slot-14 item-slot-14-enchant . . . . . . . . item-slot-7-enchant item-slot-7" "item-slot-4 item-slot-4-gem . . . . . . . . item-slot-10-gem item-slot-10" "item-slot-4 item-slot-4-enchant . . . . . . . . item-slot-10-enchant item-slot-10" "item-slot-3 item-slot-3-gem . . . . . . . . item-slot-11-gem item-slot-11" "item-slot-3 item-slot-3-enchant . . . . . . . . item-slot-11-enchant item-slot-11" "item-slot-17 item-slot-17-gem . . . . . . . . item-slot-12-gem item-slot-12" "item-slot-17 item-slot-17-enchant . . . . . . . . item-slot-12-enchant item-slot-12" "item-slot-8 item-slot-8-gem . . . . . . . . item-slot-13-gem item-slot-13" "item-slot-8 item-slot-8-enchant . . . . . . . . item-slot-13-enchant item-slot-13" ". . . . item-slot-15-gem item-slot-15 item-slot-16 item-slot-16-gem . . . ." ". . . . item-slot-15-enchant item-slot-15 item-slot-16 item-slot-16-enchant . . . .";
    padding: 20px;
    grid-gap: 10px;

    .player-gear-header {
      grid-area: avg-ilvl;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-shadow: text-stroke(1, #000);
      text-align: center;

      .player-name {
        font-size: 22px;
        font-weight: bold;
      }
    }

    img.icon.gem {
      width: 15px;
      height: 15px;
      position: absolute;
      margin-top: 4px;
    }

    .enchant-info {
      white-space: nowrap;
      font-size: 12px;
      color: #1eff00;
    }

    .gear-ilvl {
      font-size: 15px;
      position: relative;
      bottom: 19px;
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      width: 41px;
      left: 2px;
      font-weight: bold;
    }

    .gear-icon {
      border: 2px solid currentcolor;
    }

    .item-slot-5-enchant,
    .item-slot-6-enchant,
    .item-slot-7-enchant,
    .item-slot-9-enchant,
    .item-slot-10-enchant,
    .item-slot-11-enchant,
    .item-slot-12-enchant,
    .item-slot-13-enchant,
    .item-slot-15-enchant {
      .enchant-info {
        float: right;
      }
    }

    .item-slot-0-enchant,
    .item-slot-1-enchant,
    .item-slot-2-enchant,
    .item-slot-3-enchant,
    .item-slot-4-enchant,
    .item-slot-8-enchant,
    .item-slot-14-enchant,
    .item-slot-16-enchant,
    .item-slot-17-enchant {
      .enchant-info {
        float: left;
      }
    }
  }

  img.icon.game {
    height: 45px;
  }

  .analyze {
    margin: 10px 0 10px auto;
    right: 0px;
    display: block;
    width: 150px;
  }

  .player-details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;

    .player-details-talents {
      .talent-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 5px;

        @media screen and (max-width: 1126px) {
          padding-left: 55px;
        }

        .talent-info-row {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          width: 100%;

          .talent-level, .talent-icon {
            flex-grow: 0;
            flex-basis: 15%;
          }

          .talent-name {
            flex-grow: 0;
            flex-basis: 70%;
          }
        }
      }
    }
  }
}
