.statistics-section-title {
  margin-bottom: 20px;
}
.statistics-section-title h4 {
  display: inline-block;
  margin: 0;
  line-height: inherit;
  text-transform: uppercase;
  opacity: 0.3;
}
.statistics > div {
  padding: 0 15px;
}
.results .navigation {
  border-bottom: 4px solid #d84141;
}
.results .navigation .btn-link {
  min-width: 120px;
  min-height: 50px;
  outline: none;
  padding: 5px;
  -webkit-transition: 300ms background;
  -o-transition: 300ms background;
  transition: 300ms background;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.2em;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}
.results .navigation .btn-link, .results .navigation .btn-link:hover, .results .navigation .btn-link:active {
  text-decoration: none;
}
.results .navigation .btn-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.results .navigation .btn-link.selected {
  color: #ffffff;
  background: #d84141;
}
.results .navigation .btn-link svg {
  font-size: 1.8em;
  margin-right: 0.2em;
  margin-bottom: -0.2em;
}


/*TODO: Permanent solution */
nav.global {
  display: none;
}

.results > header {
  position: relative;
  background: rgb(17, 8, 8);
  height: 500px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}
.results > header .background {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  max-width: 1400px;
  z-index: 0;
}
.results > header .background:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: linear-gradient(to right, rgba(17, 8, 8, 1) 0%, rgba(17, 8, 8, 0) 35%, rgba(17, 8, 8, 0) 65%, rgba(17, 8, 8, 1) 100%), radial-gradient(ellipse at bottom, rgba(17, 8, 8, 0) 0%, rgba(17, 8, 8, 0.6) 100%);
}
.results > header .background .img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center -50px; /* TODO: -50px for taloc/mother, but center for Vectis */
  background-size: cover;
}
.results > header .info {
  flex: 1;
}
.results > header .tab-selection {
  flex: 0;
  position: relative;
}
.results > header .container {
  position: relative;
  height: 100%;
  padding: 15px;
}
.results > header h1 {
  color: #f8b700;
  font-size: 3em;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 0 30px;
}
.results > header h2 {
  color: #fff;
  font-size: 1.5em;
  font-weight: 600;
  margin: 0;
  text-transform: none;
}
.results > header .boss {
  line-height: 1;
  position: absolute;
  bottom: 0;
}
.results > header .player {
  line-height: 1;
  display: flex;
  float: left; /* makes the div auto-size without changing the display prop */
  border: 1px solid transparent;
  position: absolute;
  bottom: 0;
  right: 15px;
  text-align: right;
}
.results > header .player .avatar {
  float: right;
  margin-left: 15px;
  flex: 0;
  order: 2;
}
.results > header .player .avatar img {
  border-radius: 50%;
  border: 3px solid #f8b700;
  width: 90px;
  height: 90px;
}
.results > header .player .details {
  flex: 1;
}
.results > header .player .title {
  color: #fff;
  font-size: 1.5em;
  font-weight: 600;
}
.results > header .player .spec {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 3px;
  font-size: 1.2em;
}
.results > header .outfit {
  position: absolute;
  top: 15px;
  right: 15px;
  text-align: right;
}
.results > header .outfit .icon {
  height: 2em;
  margin-top: 0;
  margin-left: 2px;
  border: 1px solid #f8b700;
}

.tab-selection {
  text-shadow: 1px -1px 3px #150a0a, -1px 1px 3px #150a0a;
  border-bottom: 8px solid rgba(11, 0, 0, 0.8);
  padding: 0 15px;

  div {
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
  }
  ul {
    width: 100%;
    list-style: none;
    padding: 0;
    display: flex;

    li {
      flex: 1 1 auto;
      position: relative;

      a {
        display: inline-block;
        padding: 10px 20px;
        min-width: 100px;
        color: #fff;
        border: 2px solid transparent;
        background-color: transparent;
        transition: 200ms background-color;

        svg {
          margin-top: 0;
        }
      }
      a:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-image: radial-gradient(closest-side, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
      }
      a:hover:before, &.active a:before {
        background-image: radial-gradient(closest-side, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
      }
      a:hover {
        border-top: 2px solid rgba(250, 183, 0, 0.7);
        border-bottom: 2px solid rgba(248, 183, 0, 0.7);
        text-decoration: none;
      }
      a:focus {
        text-decoration: none;
      }
      &.active a {
        background-color: #f8b700;
        color: #211510;
        text-shadow: none;

        svg {
          color: currentColor;
        }
      }
    }
  }
  svg {
    display: block;
    margin: 0 auto;
    font-size: 24px;
    color: #f8b700;
  }
}
