.results {
  display: flex;
  flex-direction: column;
}
.results:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 265px;
  background: #262626;
  z-index: -1;
}
.results > header {
  user-select: none;
  margin-bottom: 20px;
  z-index: 10;
}
.results > div, .results > header {
  display: flex;
}
.results > div > *, .results > header > * {
  flex: 1;
}
.results > div > main {
  padding: 0 40px 0 0;
}
.results > header > * {
  padding: 40px;
}
.results > header > .logo, .results > div > aside {
  width: 270px;
  flex: 0 0 auto;
}

/* Navigation toggles */
.navigation-toggles {
  height: 100px;
}

/* Menu */
.results menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.results menu li a {
  display: block;
  padding: 15px 25px 15px 40px;
  color: #969696;
}
.results menu li .icon {
  margin-right: 10px;
  font-size: 22px;
}
