.statistics {
  margin-left: -10px;
  margin-bottom: -20px; /* .panel (which the statisticboxes are) has a 20px margin-bottom, so remove extra padding from the last row*/
}
.statistics-section-title {
  margin-top: 40px;
  margin-bottom: 20px;
}
.statistics-section-title h1 {
  display: inline-block;
  margin: 0;
  text-indent: 12px;
  font-size: 24px;
  line-height: inherit;
  text-transform: uppercase;
  font-weight: 600;
}
.statistics-section-title:after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, .1);
  opacity: 0.8;
  margin-top: -5px;
}
.statistics > div {
  padding: 0 10px;
}
.results .navigation {
  border-bottom: 4px solid #d84141;
}
.results .navigation .btn-link {
  min-width: 120px;
  min-height: 50px;
  outline: none;
  padding: 5px;
  -webkit-transition: 300ms background;
  -o-transition: 300ms background;
  transition: 300ms background;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.2em;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}
.results .navigation .btn-link, .results .navigation .btn-link:hover, .results .navigation .btn-link:active {
  text-decoration: none;
}
.results .navigation .btn-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.results .navigation .btn-link.selected {
  color: #ffffff;
  background: #d84141;
}
.results .navigation .btn-link svg {
  font-size: 1.8em;
  margin-right: 0.2em;
  margin-bottom: -0.2em;
}

/* header */
/*.results > header {*/
  /*margin: 5px auto 25px auto;*/
  /*overflow: hidden;*/
  /*max-width: 1300px;*/
/*}*/
/*.results > header .player, .results > header .boss {*/
  /*position: relative;*/
  /*font-size: 60px;*/
  /*font-weight: 700;*/
  /*line-height: 130px;*/
  /*height: 130px;*/
  /*white-space: nowrap;*/
  /*padding: 0 150px;*/
/*}*/
/*.results > header .boss {*/
  /*text-align: right;*/
/*}*/
/*.results > header .player:before, .results > header .boss:before {*/
  /*content: '';*/
  /*position: absolute;*/
  /*top: 0;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*right: 0;*/
  /*z-index: -1;*/
  /*background: url(./images/vs-background.png) no-repeat top left;*/
  /*background-size: 100% 100%;*/
/*}*/
/*.results > header .boss:before {*/
  /*transform: scaleX(-1);*/
/*}*/
/*.results > header .player img, .results > header .boss img {*/
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  /*width: 130px;*/
  /*height: 130px;*/
  /*border-radius: 50%;*/
/*}*/
/*.results > header .boss img {*/
  /*left: auto;*/
  /*right: 0;*/
/*}*/
/*.results > header .versus {*/
  /*font-size: 42px;*/
  /*font-weight: 300;*/
  /*font-style: italic;*/
  /*text-transform: uppercase;*/
  /*text-align: center;*/
  /*line-height: 1;*/
  /*z-index: 10;*/
  /*transform: scaleY(0.8) translateY(-5px);*/
  /*!* so that the player and boss names just overlap *!*/
  /*margin: -22.5px 0;*/
/*}*/
/*@media (max-width: 600px) {*/
  /*.results > header .player, .results > header .boss {*/
    /*font-size: 30px;*/
    /*height: 50px;*/
    /*line-height: 50px;*/
    /*padding: 0 70px;*/
  /*}*/
  /*.results > header .player img, .results > header .boss img {*/
    /*width: 50px;*/
    /*height: 50px;*/
  /*}*/
  /*.results > header .versus {*/
    /*font-size: 22px;*/
    /*margin: -11px 0;*/
  /*}*/
/*}*/

/*@keyframes player-anim {*/
  /*from {*/
    /*transform: translateX(100%)*/
  /*}*/
  /*to {*/
    /*transform: translateX(0%)*/
  /*}*/
/*}*/
/*.results > header .player {*/
  /*animation: player-anim 400ms ease-out forwards;*/
  /*transform: translateX(100%);*/
/*}*/
/*@keyframes boss-anim {*/
  /*0% {*/
    /*transform: translateX(-100%);*/
  /*}*/
  /*100% {*/
    /*transform: translateX(0%);*/
  /*}*/
/*}*/
/*.results > header .boss {*/
  /*animation: boss-anim 400ms 1800ms ease-out forwards;*/
  /*transform: translateX(-120%);*/
/*}*/
/*@keyframes fade-in {*/
  /*0% {*/
    /*opacity: 0;*/
  /*}*/
  /*100% {*/
    /*opacity: 1;*/
  /*}*/
/*}*/
/*.results > header .versus {*/
  /*animation: fade-in 1000ms 800ms ease-in forwards;*/
  /*opacity: 0;*/
/*}*/



.tab-selection {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  text-shadow: 1px -1px 3px #150a0a, -1px 1px 3px #150a0a;
  border-bottom: 5px solid rgba(0, 0, 0, 0.4);
  padding: 0 15px;
}
.tab-selection > div {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 0;
  text-align: center;
}
.tab-selection ul {
  width: 100%;
  list-style: none;
  padding: 0;
  display: flex;
}
.tab-selection ul > li {
  flex: 1 1 auto;
}
.tab-selection ul > li a {
  display: inline-block;
  padding: 10px;
  font-weight: 400;
  color: #fff;
  border: 2px solid transparent;
}
.tab-selection svg {
  display: block;
  margin: 0 auto;
  font-size: 1.5em;
  color: #f8b700;
}
.tab-selection ul > li a:hover {
  border-top: 2px solid rgba(248, 183, 0, 0.7);
  border-bottom: 2px solid rgba(248, 183, 0, 0.7);
  text-decoration: none;
}
.tab-selection ul > li a:focus {
  text-decoration: none;
}
.tab-selection ul > li.active a {
  border-top: 2px solid rgba(248, 183, 0, 1);
  border-bottom: 2px solid rgba(248, 183, 0, 1);
}

nav.global {
  display: none;
}
.results > header {
  position: relative;
  background: #150a0a;
  height: 500px;
  margin-bottom: 30px;
}
.results > header .background {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  max-width: 1400px;
  background-repeat: no-repeat;
  background-position: center -50px; /* TODO: -50px for taloc/mother, but center for Vectis */
  mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 45%, rgba(0,0,0,1) 55%, rgba(0,0,0,0) 100%);
  background-size: cover;
  z-index: 0;
}
.results > header .boss {
  line-height: 1;
  position: absolute;
  bottom: 130px;
  left: 50%;
  transform: translateX(-600px);
}
.results > header .boss .difficulty {
  color: rgba(255, 255, 255, 1);
  font-size: 1.5em;
  font-weight: 600;
}
.results > header .boss .name {
  color: #f8b700;
  font-size: 3em;
  font-weight: 800;
  text-transform: uppercase;
}
