@import 'interface/layout/Theme.scss';

.statistics-section-title {
  margin-bottom: 20px;
}

.statistics > div {
  padding: 0 15px;
}

/*TODO: Permanent solution */
nav.global {
  display: none;
}

.results > header {
  position: relative;
  background: #0e0b0b;
  height: 500px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}
.results > header .background {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  max-width: 1400px;
  z-index: 0;
}
.results > header .background:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: linear-gradient(to right, rgba(14, 11, 11, 1) 0%, rgba(14, 11, 11, 0) 35%, rgba(14, 11, 11, 0) 65%, rgba(14, 11, 11, 1) 100%), radial-gradient(ellipse at bottom, rgba(14, 11, 11, 0) 0%, rgba(14, 11, 11, 0.6) 100%);
}
.results > header .background .img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center -50px; /* TODO: -50px for taloc/mother, but center for Vectis */
  background-size: cover;
}
.results > header .info {
  flex: 1;
}
.results > header .tab-selection {
  flex: 0;
  position: relative;
}
.results > header .container {
  position: relative;
  height: 100%;
}
.results > header h1 {
  font-size: 3em;
  font-weight: 800;
  margin: 0 0 27px;
  line-height: 1;
}
.results > header h2 {
  font-size: 1.5em;
  font-weight: 600;
  margin: 0;
  text-transform: none;
}
.results > header .boss {
  line-height: 1;
  position: absolute;
  bottom: 0;
}
.results > header .player {
  line-height: 1;
  display: flex;
  float: left; /* makes the div auto-size without changing the display prop */
  border: 1px solid transparent;
  position: absolute;
  bottom: 0;
  right: 15px;
  text-align: right;
}
.results > header .player .avatar {
  float: right;
  margin-left: 15px;
  flex: 0;
  order: 2;
}
.results > header .player .avatar img {
  border-radius: 50%;
  border: 3px solid $primaryColor;
  width: 90px;
  height: 90px;
}
.results > header .player .details {
  flex: 1;
}
.results > header .player .title {
  color: #fff;
  font-size: 1.5em;
  font-weight: 600;
}
.results > header .player .spec {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 3px;
  font-size: 1.2em;
}
.results > header .outfit {
  position: absolute;
  top: 15px;
  right: 15px;
  text-align: right;
}
.results > header .outfit .icon {
  height: 2em;
  margin-top: 0;
  margin-left: 2px;
  border: 1px solid $primaryColor;
}

.tab-selection {
  text-shadow: 1px -1px 3px #150a0a, -1px 1px 3px #150a0a;
  border-bottom: 8px solid rgba(11, 0, 0, 0.8);
  padding: 0 15px;

  div {
    margin: 0 auto;
    text-align: center;
  }
  ul {
    width: 100%;
    list-style: none;
    display: flex;
    padding: 15px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.25);

    li {
      flex: 1 1 auto;
      position: relative;
      height: 69px;
      margin-right: 15px;

      a {
        display: block;
        padding: 10px 20px;
        color: #fff;
        border: 2px solid transparent;
        background-color: transparent;
        transition: 200ms background-color;
        line-height: 1.2;
        border-radius: 2px;

        svg {
          margin-top: 0;
          margin-bottom: 5px;
        }
      }
      a:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-image: radial-gradient(closest-side, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
      }
      a:hover:before, &.active a:before {
        background-image: radial-gradient(closest-side, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
      }
      a:hover {
        border-top: 2px solid $primaryColor;
        border-bottom: 2px solid $primaryColor;
        text-decoration: none;
      }
      a:focus {
        text-decoration: none;
      }
      &.active a {
        background-color: $primaryColor;
        color: #211510;
        text-shadow: none;

        svg {
          color: currentColor;
        }
      }
    }
    li:last-of-type {
      margin-right: 0;
    }
  }
  svg {
    display: block;
    margin: 0 auto;
    font-size: 24px;
    color: $primaryColor;
  }
}
