.results .details-tab-panel {
  margin-top: 15px;
  margin-bottom: 100px;
}
.results .details-tab-panel .panel-body {
  padding: 0;
  display: flex;
}
.results .details-tab-panel menu {
  flex: 0 0 auto;
  margin: 0;
  padding: 0;
  min-width: 190px;
  border-right: 4px solid #d84141;
}
.results .details-tab-panel main {
  flex: 1 1 auto;
  overflow: hidden;
}
.results .details-tab-panel menu .btn-link {
  display: block;
  outline: none;
  padding: 15px 30px 15px 15px;
  transition: 200ms background;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.1em;
}
.results .details-tab-panel menu .btn-link, .results .details-tab-panel menu .btn-link:hover, .results .details-tab-panel menu .btn-link:active {
  text-decoration: none;
}
.results .details-tab-panel menu .btn-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.results .details-tab-panel menu .btn-link.selected {
  color: #ffffff;
  background: #d84141;
}
.results .details-tab-panel menu .btn-link svg {
  font-size: 1.8em;
  margin-right: 0.2em;
  margin-bottom: -0.2em;
}
