.tyr-table {
  width: 100%;
  text-align: center;
  border-spacing: 2px;
}

.tyr-align-left {
  text-align: left;
}

.tyr-align-center {
  text-align: center;
}

.tyr-odd-row {
  background-color: rgba(250, 183, 0, 0.3);
}
