#solace-talent-icon {
  img.icon.game {
    height: 1.5em;
    margin-top: 20px;
    margin-right: 20px;
  }
}

#solace-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

// #solace-talent-icon {
//   height: 2em;
// }
