@use 'interface/design-system' as design;

.AplRuleList {
    padding-left: 1.5rem;
}

.AplListItem {
    opacity: var(--muted, 1) 0.5;

    .highlighted {
        list-style-type: none;
        padding-left: 0;
        margin-left: -1.5rem;

        &::before {
            content: '\\e080';
            font-family: 'Glyphicons Halflings';
            color: #fab700;
            margin-right: 0.5rem;
            font-size: 10px;
        }

        &::after {
            content: '\\e079';
            font-family: 'Glyphicons Halflings';
            color: #fab700;
            margin-left: 0.5rem;
            font-size: 10px;
        }
    }
}
