{
	"presets": [
		["env", {
			"targets": {
				"node": "current"
			}
		}]
	],
	"plugins": [
		"transform-runtime",
		"transform-class-properties",
		["module-resolver", {
			"root": ["."]
		}]
	],
	"ignore": [
		"node_modules",
		"build"
	]
}
