@import 'interface/Theme.scss';

.grid {
  grid-template-columns: 35% auto;
  display: grid;
  column-gap: 2%;
}

.clickToLoad {
  background-color: #d69d00;
  color: black;
  padding: 0 3px;
}

.no-cast {
  color: #999;
}
.goodCast {
  background-color: #4ec04e;
  color: black;
  padding: 0 3px;
}
.badCast {
  background-color: #ac1f39;
  color: white;
  padding: 0 3px;
}

.currentBreath {
  background-color: #736f4e;
  color: black;
  padding: 0 3px;
}

.optimalBreath {
  background-color: #4c78a8;
  color: black;
  padding: 0 3px;
}

.optimalTargetsBreath {
  background-color: #88d498;
  color: black;
  padding: 0 3px;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.buff-target-table th,
.buff-target-table td {
  padding: 4px 12px;
  border: 1px solid rgb(111, 111, 111);
  text-align: center;
}

.buff-target-table {
  background: #222;
}

.explanation-table {
  padding: 4px 12px;
  margin-bottom: 10px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-cell {
  flex: 1;
}

.npc {
  color: #ff6a6a;
}

.table-container {
  margin-bottom: 1rem; // Adds space below the table
}

.button-container {
  display: flex;
  justify-content: space-between; // This spreads out the buttons to the width of the container
  align-items: center; // This aligns buttons in the middle vertically if they have different heights
  padding: 0 10px; // Add padding to the left and right
  margin-top: 1rem; // Adds space above the button container

  .styled-button {
    flex: 1; // This will make each button flex to fill the space evenly
    padding: 0.5rem 1rem; // Adjust padding as needed
    margin: 0 10px; // Adds space between the buttons, you can adjust it as needed
    // The rest of your styles...
    line-height: 16.8px;
    font-size: 14px;
    border-radius: 6px;
    white-space: nowrap; // Prevents text from wrapping
    overflow: hidden; // Keeps the content from spilling out
    text-overflow: ellipsis; // Adds an ellipsis if the text is too long to fit
    background-color: #d69d00;
    color: black;
    font-weight: 600;
    &:hover {
      background-color: darken($color: #fab700, $amount: 7);
    }
  }
}
