@import 'interface/Theme.scss';

.grid {
  grid-template-columns: 35% auto;
  display: grid;
  column-gap: 2%;
}

.clickToLoad {
  background-color: #d69d00;
  color: black;
  padding: 0 3px;
}

.no-cast {
  color: #999;
}
.goodCast {
  background-color: #4ec04e;
  color: black;
  padding: 0 3px;
}
.badCast {
  background-color: #ac1f39;
  color: white;
  padding: 0 3px;
}

.currentBreath {
  background-color: #736f4e;
  color: black;
  padding: 0 3px;
}

.optimalBreath {
  background-color: #4c78a8;
  color: black;
  padding: 0 3px;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.buff-target-table th,
.buff-target-table td {
  padding: 4px 12px;
  border: 1px solid rgb(111, 111, 111);
  text-align: center;
}

.buff-target-table {
  background: #222;
}

.explanation-table {
  padding: 4px 12px;
  margin-bottom: 10px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-cell {
  flex: 1;
}
