@use 'interface/design-system' as design;

.Button {
  appearance: none;
  border: none;
  @include design.level(2);
  border-radius: 0.5rem;
  padding: 0 1rem;

  cursor: pointer;

  &:hover {
    filter: brightness(115%);
  }

  &:disabled {
    filter: brightness(70%);
    cursor: not-allowed;
    &:hover {
      filter: brightness(70%);
    }
  }
}
