.dead-gcd {
  border: 1px solid red !important;
}

.nonapplicator {
  border: 1px solid red !important;
}

.nodot {
  border: 1px solid red !important;
}

.problem-icon {
  height: 44px !important;
}

// .hover-problem{
//   // opacity: 0 !important;
// }

// .hovering-problem{
//   width: 100px;
// }
