section {
  margin: initial;
}
.panel {
  section {
    & > .meta > header {
      padding: 1rem 1rem;
    }
  }
}

.subsection {
  margin-top: 1rem;
  margin-left: -20px;
  > header {
    font-size: 16px;
    font-weight: bold;
    padding: 1rem 0;
    border-top: 1px solid #333a;
  }

  .subsection {
    margin-top: 0;
    > header {
      font-size: 16px;
      border-top: none;
    }
  }
}
