@import 'interface/Theme.scss';

.characters-hit-per-cast {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 70px;
  overflow: hidden;
  opacity: 0.1;
  z-index: -1;

  > * {
    height: 100%;
    width: 100%;
    position: absolute;

    > div {
      position: absolute;
      left: 17.9%;
      bottom: -1px; /* hide the edge due to imperfections */
      width: 26.5%;
      height: 100%;
      background-position: bottom center;
      background-repeat: no-repeat;
      background-size: 100% auto;
      transform: translateX(-50%);
      mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) calc(100% * var(--p)), rgba(0, 0, 0, 0) calc(100% * var(--p)));
    }
    > div:nth-child(2) {
      left: 39%;
      width: 14.8%;
    }
    > div:nth-child(3) {
      left: 50%;
      width: 24.6%;
    }
    > div:nth-child(4) {
      left: 70%;
      width: 20.85%;
    }
    > div:nth-child(5) {
      left: 87%;
      width: 15.1%;
    }
  }
}
