@import 'interface/Theme.scss';
.chart {
  border-radius: 5px;

  .source-bar {
    position: relative;
    width: auto;
    height: 100%;

    span {
      float: right;
      padding: 7.5px;
      font-weight: 1200;
      font-size: 13px;
      text-shadow: 1px 1px 2px black;
      color: white;
    }

    > div {
      display: inline-block;
      position: relative;
      height: 100%;
    }
  }
}
