@import 'interface/Theme.scss';

.timeline-bar-container {
  padding: 10px;
  height: 45px;
  font-size: 16px;
  line-height: 1;
  display: flex;

  .bar-label {
    padding: 0;
    width: 150px;
    text-align: center;
    display: inline-block;
  }

  .timeline-bar {
    position: relative;
    width: 100%;
    height: 100%;
    background: $muted;
    display: inline-block;

    > div {
      position: absolute;
      top: 0;
      height: 100%;

      /* Need to override default icon position / size to properly align inside the timeline bar */
      > img.icon.game {
        height: 23px;
        margin-top: 1px;
        vertical-align: top;
      }
    }
  }
}
