.timeline.year-recap {
  position: relative;
}
.timeline.year-recap:before {
  content: '';
  position: absolute;
  left: 120px;
  width: 2px;
  background: #d84141;
  top: 25px;
  bottom: 25px;
}
.timeline.year-recap > div {
  margin-left: 150px;
  width: calc(100% - 150px);
}
.timeline.year-recap > .panel {
  position: relative;
  background: rgba(0, 0, 0, 0.6);
  margin-bottom: 30px;
}
.timeline.year-recap > .panel:before {
  content: '';
  position: absolute;
  left: -30px;
  top: 25px;
  transform: translate(-50%, -50%);
  width: 1.6em;
  height: 1.6em;
  border-radius: 50%;
  border: 2px solid #d84141;
  background: black;
}
.timeline.year-recap > .panel > .date {
  position: absolute;
  left: -150px;
  margin-top: 10px;
  width: 95px;
  text-align: right;
  font-size: 1.4em;
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: 700;
}
.timeline.year-recap > .panel figure {
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
}
.timeline.year-recap > .panel figure img {
  max-width: 100%;
}
.timeline.year-recap > .panel figure figcaption {
  margin-top: 0.4em;
  opacity: 0.6;
  font-size: 90%;
}
