@import 'interface/Theme.scss';

.dragonrage-window-container {
  header {
    display: grid;
    grid-template-columns: 1fr max-content;
    font-size: 20px;
    font-weight: bold;
    padding: 1rem 0;

    button {
      appearance: none;
      background: none;
      color: $primaryColor;
      border: none;

      &:hover {
        color: lighten($primaryColor, 30%);
      }

      &:disabled {
        color: #333;
      }
    }
  }
}
