html {
  min-height: 100%;
}

body {
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
  background: #305361;
  /*background: linear-gradient(rgba(48, 83, 97, 0.8), rgba(48, 83, 97, 0.9)), url(./background.jpg) center no-repeat;*/
  /*background: url(./background-pattern.png), url(./background.jpg) center no-repeat;*/
  /*background-size: 15px 15px, cover;*/
  /*background: url(./background-pattern.png), linear-gradient(rgba(94, 131, 146, 0.8), rgba(51, 73, 82, 0.9)), url(./background.jpg) center no-repeat;*/
  /*background-size: 15px 15px, cover, cover;*/
  background: url(./background-merged.png) center no-repeat;
  background-size: cover;
  color: #fff;
}
@media (min-width: 1200px) {
  .container {
    transition: width 600ms;
    width: 900px;
  }
  .larger  .container {
    width: 1170px;
  }
}
@media (min-width: 1400px) {
  .larger  .container {
    width: 1370px;
  }
}

a {
  color: #e45a5a;
}
a:hover {
  color: #ad4b4b;
}
h1 {
  margin-top: 0;
  margin-bottom: 1em;
  line-height: 1.1;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
}

/* Components */

.circular-progress-bar {
  position: relative;
  display: inline-block;
  width: 74px;
  height: 74px;
  text-align: center;
  float: left;
}
.circular-progress-bar .text {
  display: inline-block;
  line-height: 74px;
  z-index: 2;
  font-size: 12px;
}
.circular-progress-bar canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.panel {
  width: 100%;
  border-radius: 5px;
  border: none;
  margin-bottom: 30px;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 5px 0 rgba(0,0,0,.15);
}
.panel > .panel-heading {
  border-bottom: 1px solid rgba(0, 0, 0, .4);
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, .1);
  padding: 16px 22px 14px;
}
.panel > .panel-heading > h2 {
  font-weight: 400;
  opacity: .9;
  text-transform: uppercase;
  margin: 0;
  font-size: 1.2em;
}
.panel > .panel-body {
  padding: 15px 22px;
}
.panel.statistic-box > .panel-body {
  padding: 10px 14px;
}
.statistic-box .statistic-value {
  margin-top: .3em;
  font-size: 2em;
}
.statistic-box .statistic-label {
  margin-top: -0.3em;
}
.btn-default {
  border: 1px solid #fff;
  background: transparent;
  padding: 8px 30px;
}
.btn-primary {
  border: none;
  background: #d84141;
  padding: 7px 30px;
}
.btn-primary:hover, .btn-primary:focus {
  background: #912f2f;
}
.btn-primary:active, .btn-primary:active:hover, .btn-primary:active:focus {
  background: #6e2a2a;
}
.form-control {
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid transparent;
  box-shadow: none;
  color: #fff;
}
.form-control:focus {
  box-shadow: none;
  border: 1px solid #e45a5a;
}





/* App specific */

.navbar-default {
  line-height: 66px;
  background: rgba(15, 28, 35, 0.85);
  border: 0;
  box-shadow: 2px 0 3px rgba(0,0,0,.5);
  margin-bottom: 1.75em;
}
.navbar-default .navbar-header a {
  color: #fff;
}
.navbar-default .navbar-header a:hover {
  text-decoration: none;
  color: #e45a5a;
}
.navbar-right {
  margin-right: auto;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #e45a5a;
}
.navbar-default .navbar-nav > li > a > img {
  margin-left: 5px;
}

.breadcrumb {
  background: none;
  padding: 0;
  margin-bottom: 0;
}
.breadcrumb > li:first-of-type {
  font-size: 24px;
  font-weight: 600;
}
.breadcrumb > li:first-of-type a {
  color: #e45a5a;
}
.breadcrumb > li:first-of-type a:hover {
  color: #fff;
}
.breadcrumb > li:not(:first-of-type) {
  font-size: 14px;
}
.breadcrumb > li + li:before {
  content: "›";
}
.navbar-progress {
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: rgba(228, 90, 90, 0.5);
  transition: opacity 400ms, width 400ms linear;
}
.navbar-progress + * {
  position: relative;
  z-index: 1;
}

.list {
  list-style: none;
  padding: 0;
  margin: -5px -22px;
}
.list > li {
  margin: 0;
  padding: 0 22px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.list > li a {
  display: block;
  padding: 10px 0;
}
.list > li:hover {
  background: rgba(255, 255, 255, 0.1);
  border-top-color: rgba(0, 0, 0, 0.4);
  border-bottom-color: rgba(0, 0, 0, 0.4);
}
h1 {
  position: relative;
}
.back-button {
  position: absolute;
  left: 0;
  transform: translateX(-100%);
}
li.item {
  border-bottom: 1px solid rgba(0, 0, 0, .4);
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, .1);
}
li.item:first-of-type {
  margin-top: -14px;
}
li.item img {
  float: left;
  height: 60px;
  border-radius: 50%;
  margin: 10px 22px 10px 0;
}
li.item a {
  display: inline;
  padding: 0;
}
.item header {
  margin-top: 20px;
}




h3 {
  margin-top: 5px;
  font-weight: 400;
  margin-bottom: 9px;
  border-bottom: 1px solid #333;
}
dfn {
  border-bottom: 1px dashed currentColor;
  font-style: normal;
  cursor: help;
}

.alert-danger {
  padding: 20px;
  background-color: rgba(203, 73, 71, .2);
  border-color: transparent;
  line-height: 1.5;
  color: #cb4947;
  border-radius: 0;
}
.text-muted {
  color: #999;
}

/* Source: http://tobiasahlin.com/spinkit/ */
.spinner {
  width: 100px;
  height: 100px;
  background-color: #e45a5a;

  margin: 150px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

table.data-table {
  width: 100%;
}
table.data-table th {
  font-weight: 400;
}
table.data-table thead tr, table.data-table tbody tr:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, .4);
}
table.data-table tr:nth-child(even) {
  background: rgba(255, 255, 255, .04);
}
table.data-table tr th, table.data-table tr td {
  padding: 7px;
}
table.data-table tr th:first-of-type, table.data-table tr td:first-of-type {
  padding-left: 22px;
}
table.data-table tr th:last-of-type, table.data-table tr td:last-of-type {
  padding-right: 22px;
}
table.data-table img {
  width: 1.6em;
  height: 1.6em;
  margin-top: -.1em;
}
table.data-table .performance-bar {
  opacity: .9;
  height: 1.2em;
  min-width: 1px;
  background-color: #ffffff;
  margin-top: .1em;
}

.__react_component_tooltip {
  text-align: left;
  max-width: 600px;
}
.__react_component_tooltip.type-dark {
  background: rgba(10, 10, 10, 0.8) !important;
}
.__react_component_tooltip.type-dark.place-bottom:after {
  border-bottom-color: rgba(10, 10, 10, 0.8) !important;
}


.DeathKnight { color: #c41f3b !important }
.Druid { color: #ff7d0a !important }
.Hunter { color: #abd473 !important }
.Mage { color: #69ccf0 !important }
.Monk { color: #2D9B78 !important }
.Paladin { color: #f58cba !important }
.Priest { color: #ffffff !important }
.Rogue { color: #fff569 !important }
.Shaman { color: #2459ff !important }
.Warlock { color: #9482c9 !important }
.Warrior { color: #c79c6e !important }
.DemonHunter { color: #a330c9 !important }

.DeathKnight-bg { background-color: #c41f3b !important }
.Druid-bg { background-color: #ff7d0a !important }
.Hunter-bg { background-color: #9ec76b !important }
.Mage-bg { background-color: #69ccf0 !important }
.Monk-bg { background-color: #2D9B78 !important }
.Paladin-bg { background-color: #f58cba !important }
.Priest-bg { background-color: #ffffff !important }
.Rogue-bg { background-color: #fff569 !important }
.Shaman-bg  { background-color: #2459ff !important }
.Warlock-bg { background-color: #9482c9 !important }
.Warrior-bg  { background-color: #c79c6e !important }
.DemonHunter-bg { background-color: #a330c9 !important }

.epic { color: #a335ee !important }
.legendary { color: #ff8000 !important }

.kill { color: #1d9c07 !important }
.wipe { color: #fb6d35 !important }
