.events-tab {
  width: 100%;
  font-size: 13px;
  font-weight: 400;
}
.events-tab .ReactVirtualized__Table__row:nth-child(2n) {
  background: rgba(255, 255, 255, 0.03);
}
.events-tab .ReactVirtualized__Table__row:hover {
  background: rgba(255, 255, 255, 0.15);
}
.events-tab .ReactVirtualized__Table__row.modified, .modified-legend {
  background: rgba(255, 118, 0, 0.3);
}
.events-tab .ReactVirtualized__Table__row.modified:hover {
  background: rgba(255, 118, 0, 0.4);
}
.events-tab .exists {
  color: green;
}
.events-tab .damage {
  color: red;
}
.events-tab .heal {
  color: green;
}
.events-tab .absorbed {
  color: orange;
}
.events-tab .applybuff, .events-tab .removebuff, .events-tab .refreshbuff, .events-tab .applybuffstack, .events-tab .removebuffstack {
  color: lightskyblue;
}
.events-tab .applydebuff, .events-tab .removedebuff, .events-tab .refreshdebuff, .events-tab .applydebuffstack, .events-tab .removedebuffstack {
  color: #ffe200;
}
.events-tab .overheal, .events-tab .NPC, .events-tab .combatantinfo {
  color: gray;
}
.events-tab .effect {
  text-align: right;
}
.events-tab .crit {
  font-weight: bold;
  font-style: italic;
  font-size: 1.1em;
}
.events-tab .crit:before, .events-tab .crit:after {
  content: '*';
}
.events-tab a img {
  height: 1.6em;
  border-radius: 3px;
  border: 1px solid #000;
}
.events-tab .config label {
  font-weight: 400;
  min-width: 150px;
}

