.events-tab {
  width: 100%;
}
.events-tab tr:nth-child(2n) {
  background: rgba(255, 255, 255, 0.1);
}
.events-tab tr:hover {
  background: rgba(255, 255, 255, 0.2);
}
.events-tab tr.modified {
  background: rgba(255, 118, 0, 0.3);
}
.events-tab tr.modified:hover {
  background: rgba(255, 118, 0, 0.4);
}
.events-tab tr td {
  border: 1px solid #000;
  padding: 3px 5px;
}
.events-tab .exists {
  color: green;
}
.events-tab .cast {
  color: brown;
}
.events-tab .damage {
  color: red;
}
.events-tab .heal {
  color: green;
}
.events-tab .absorbed {
  color: orange;
}
.events-tab .overheal, .events-tab .NPC, .events-tab .combatantinfo {
  color: gray;
}

.events-tab a img {
  height: 1.6em;
  border-radius: 3px;
  border: 1px solid #000;
}
