.app > header {
  background-image: url(./Images/header.jpg);  /* Created and property of Blizzard Entertainment. source: https://worldofwarcraft.com/en-us/ */
  background-size: cover;
  background-position: center center;
  margin-top: 0px;
  padding-bottom: 67px; /* so that the divider in `after` doesn't overlap content */
  position: relative;
  margin-bottom: 90px;
  transition: all 600ms;
  opacity: 1;
  padding-top: 100px;
  min-height: 444px; /* based on measurement, set with precision so it doesn't jump around when minimized */
  /*box-shadow: inset 0 0 0 1px rgba(255,255,255,.08), 0 0 0 5px rgba(0, 0, 0, 0.5);*/
}
.app > header:after {
  content: '';
  background: url(./Images/section-divider-sprite.png) no-repeat; /* Created by and property of Blizzard Entertainment. source: http://eu.battle.net/wow/en/legion/ */
  background-size: auto 200%;
  background-position: 50% 0;
  position: absolute;
  bottom: -67px;
  left: 0;
  right: 0;
  height: 134px;
  z-index: 200;
  pointer-events: none;
}
.app:not(.show-report-selecter) > header {
  margin-top: -440px;
  margin-bottom: 90px;
  opacity: 0;
  pointer-events: none;
}
.app > header .image-overlay h1 {
  font-size: 4em;
}
.app > header .image-overlay .description {
  font-size: 1.4em;
  margin-bottom: 1em;
}
.app > header .image-overlay .report-selector {
  margin-bottom: 10px;
}
.app > header .image-overlay .about {
  font-size: 0.8em;
}
@media (max-width: 600px) {
  .app > header .image-overlay {
    padding-top: 60px;
  }
  .app > header .image-overlay h1 {
    font-size: 3em;
    margin-bottom: 0.2em;
  }
  .app > header .image-overlay .description {
    font-size: 1.2em;
    margin-bottom: 0.5em;
  }
}
@media (max-width: 400px) {
  .app > header .image-overlay {
    padding-top: 40px;
  }
}

.character-selector {
  display: flex;
  margin-bottom: 10px;
  height: 42px;
}
.character-selector>.realm-search--select, .character-selector>input[name=code], .character-selector>button {
  margin-left: 2px;
}
.realm-search__select {
  display: none;
}
.realm-search--multiple .realm-search__select {
    display: block;
}
.realm-search__select--display {
    display: block;
    width: 183px;
    z-index: 999;
    position: absolute;
}
.realm-search__search {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 8px 12px;
  height: auto;
  background: rgba(0, 0, 0, 0.3);
  font-size: 1em;
  box-shadow: none;
  color: #fdf7ea;
  border-radius: 0;
  outline: none;
  width: 100%;
  height: 42px;
}
.realm-search__search:focus {
  box-shadow: none;
  border: 1px solid #d84141;
}
.realm-search__options {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  list-style: none;
  padding: 0;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-top: none;
}
.realm-search__option {
  padding: 4px 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.realm-search__option--selected {
  color: #d84141;
}
.image-overlay .parse-tabs {
  margin-bottom: 2px;
}
.image-overlay .parse-tabs>span {
  background-color: rgba(0, 0, 0, .4);
  display: inline-block;
  padding: 3px 8px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-right: 2px;
}
.image-overlay .parse-tabs>span.selected {
  background-color: rgba(216, 65, 65, .8) ;
}
.animated-button {
  box-shadow: inset 0 0 0 0 #ad4b4b;
  transition: box-shadow 1.2s linear;
}
.animated-button.fill-button {
  box-shadow: inset 200px 0 0 0 #ad4b4b;
}
