.app > header {
  background-image: url(./Images/header.jpg);  /* Created and property of Blizzard Entertainment. source: https://worldofwarcraft.com/en-us/ */
  background-size: cover;
  background-position: center center;
  margin-top: 0px;
  min-height: 400px;
  padding-bottom: 67px; /* so that the divider in `after` doesn't overlap content */
  position: relative;
  margin-bottom: 90px;
  transition: all 600ms;
  opacity: 1;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,.08), 0 0 0 5px rgba(0, 0, 0, 0.5);
}
.app > header:after {
  content: '';
  background: url(./Images/section-divider-sprite.png) no-repeat; /* Created by and property of Blizzard Entertainment. source: http://eu.battle.net/wow/en/legion/ */
  background-size: auto 200%;
  background-position: 50% 0;
  position: absolute;
  bottom: -67px;
  left: 0;
  right: 0;
  height: 134px;
  z-index: 200;
  pointer-events: none;
}
.app:not(.show-report-selecter) > header {
  margin-top: -410px;
  margin-bottom: 90px;
  opacity: 0;
  pointer-events: none;
}
.app > header .image-overlay {
  padding-top: 100px;
}
.app > header .image-overlay h1 {
  font-size: 4em;
}
.app > header .image-overlay .description {
  font-size: 1.4em;
  margin-bottom: 1em;
}
.app > header .image-overlay .report-selector {
  margin-bottom: 10px;
}
.app > header .image-overlay .about {
  font-size: 0.8em;
}
@media (max-width: 600px) {
  .app > header .image-overlay {
    padding-top: 60px;
  }
  .app > header .image-overlay h1 {
    font-size: 3em;
    margin-bottom: 0.2em;
  }
  .app > header .image-overlay .description {
    font-size: 1.2em;
    margin-bottom: 0.5em;
  }
}
@media (max-width: 400px) {
  .app > header .image-overlay {
    padding-top: 40px;
  }
}
