.ct-legend {
  position: relative;
  z-index: 10;
  list-style: none;
  text-align: center;
  margin-bottom: 0;
}
.ct-legend li {
  position: relative;
  padding-left: 19px;
  margin-right: 10px;
  margin-bottom: 3px;
  cursor: pointer;
  display: inline-block;
}
.ct-legend li:before {
  width: 12px;
  height: 12px;
  position: absolute;
  top: .3em;
  left: 0;
  content: '';
  border: 3px solid transparent;
  border-radius: 2px;
}
.ct-legend li.inactive:before {
  background: transparent;
}
.ct-legend.ct-legend-inside {
  position: absolute;
  top: 0;
  right: 0;
}
.ct-legend.ct-legend-inside li{
  display: block;
  margin: 0;
}

.ct-line {
  stroke-width: 2px;
}
.ct-grid {
  stroke: rgba(255, 255, 255, 0.2);
}
.ct-label {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1em;
  line-height: 1;
}
.ct-label.ct-vertical {
  line-height: 0;
}

.ct-series.mana .ct-bar, .ct-series.mana .ct-line, .ct-series.mana .ct-point, .ct-series.mana .ct-slice-donut {
  stroke: #026dd7;
}
.ct-series.mana .ct-area, .ct-series.mana .ct-slice-donut-solid, .ct-series.mana .ct-slice-pie {
  fill: #022ad7;
  fill-opacity: 0.2;
}
.ct-legend .mana:before {
  background-color: #026dd7;
  border-color: #026dd7;
}
.ct-series.boss-health .ct-line {
  stroke: #d70206;
}
.ct-series.boss-health .ct-area {
  fill: #d70206;
}
.ct-legend .boss-health:before {
  background-color: #d70206;
  border-color: #d70206;
}
.ct-series.boss-health.boss-1 .ct-line {
  stroke: #ff6638;
}
.ct-series.boss-health.boss-1 .ct-area {
  fill: #ff6638;
}
.ct-legend .boss-health.boss-1:before {
  background-color: #ff6638;
  border-color: #ff6638;
}
.ct-series.boss-health.boss-2 .ct-line {
  stroke: #ffd3bf;
}
.ct-series.boss-health.boss-2 .ct-area {
  fill: #ffd3bf;
}
.ct-legend .boss-health.boss-2:before {
  background-color: #ffd3bf;
  border-color: #ffd3bf;
}
/* Naturalist Tel'arn*/
.ct-series.boss-health.boss-109041 .ct-line {
  stroke: #99c439;
}
.ct-series.boss-health.boss-109041 .ct-area {
  fill: #000;
}
.ct-legend .boss-health.boss-109041:before {
  background-color: #99c439;
  border-color: #99c439;
}
/* Arcanist Tel'arn*/
.ct-series.boss-health.boss-109040 .ct-line {
  stroke: #564cac;
}
.ct-series.boss-health.boss-109040 .ct-area {
  fill: #000;
}
.ct-legend .boss-health.boss-109040:before {
  background-color: #564cac;
  border-color: #564cac;
}
/* Solarist Tel'arn*/
.ct-series.boss-health.boss-109038 .ct-line {
  stroke: #f3ea8f;
}
.ct-series.boss-health.boss-109038 .ct-area {
  fill: #000;
}
.ct-legend .boss-health.boss-109038:before {
  background-color: #f3ea8f;
  border-color: #f3ea8f;
}

.ct-series.death .ct-bar, .ct-series.death .ct-line, .ct-series.death .ct-point, .ct-series.death .ct-slice-donut {
  stroke: red;
  stroke-width: 1px;
}
.ct-legend .death:before {
  background-color: red;
  border-color: red;
}
