.panel.statistic-box > .panel-body {
  padding: 10px 12px;
  transition: background-color 0.1s ease-in-out;
}
.panel.statistic-box > .panel-body:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.panel.statistic-box > .panel-body > .flex-main {
  padding-left: 16px;
}
.panel.statistic-box .value {
  font-size: 1.8em;
  font-weight: 600;
  line-height: 1.5;
}
.panel.statistic-box .slabel {
  margin-top: -0.3em;
  color: #bbb;
}
.panel.statistic-box > .panel-body > div:first-child img {
  height: 4.3em;
  margin-top: 0;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.6);
}
.panel.statistic-box.statistic-list .panel-heading {
  text-align: center;
  padding: 11px 22px 9px;
}
.panel.statistic-box.statistic-list .panel-body {
  padding: 10px 12px;
}
.panel.statistic-box.statistic-list > .panel-body > div:first-child img {
  height: 1.6em;
  margin-top: -0.2em;
}
.panel.statistic-box.statistic-list .items > *:not(:last-child) {
  margin-bottom: 0.3em;
  padding-bottom: 0.2em;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.panel.statistic-box .statistic-bar {
  display: flex;
  position: relative;
}
.panel.statistic-box .statistic-bar:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 20%);
  pointer-events: none;
}
.panel.statistic-box .statistic-bar > div {
  flex: 0 0 auto;
  height: 22px;
  padding: 4px 3px 3px;
  text-align: center;
}
.panel.statistic-box .statistic-bar > div.remainder {
  flex: 1;
}
.panel.statistic-box .statistic-bar > div img {
  height: 16px;
  border: 0;
  border-radius: 0;
  vertical-align: top;
}

.panel.statistic-box.item .value {
  font-size: 1.2em;
}
/* small */
.panel.statistic-box.small > .panel-body > div:first-child img {
  height: 1.6em;
  margin-top: -0.2em;
}
.statistic-box.small > .panel-body > .flex-main {
  padding-left: 0;
}
