.panel.statistic-box > .panel-body {
  padding: 10px 12px;
  transition: background-color 0.1s ease-in-out;
}
.panel.statistic-box > .panel-body:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.panel.statistic-box .value {
  font-size: 2em;
}
.panel.statistic-box .slabel {
  margin-top: -0.3em;
}
.panel.statistic-box img {
  height: 63px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.6);
}
.panel.statistic-box.statistic-list .panel-heading {
  text-align: center;
  padding: 11px 22px 10px;
}
.panel.statistic-box.statistic-list .panel-body {
  padding: 8px 12px;
}
.panel.statistic-box.statistic-list img {
  height: 1.6em;
}
.panel.statistic-box.statistic-list .items > * {
  margin-bottom: 0.28em;
}
