.Table {
    th,
    td {
        padding: 0.25em 1em;
        white-space: nowrap;
        text-align: right;
    }

    & .left {
        text-align: left;
    }

    caption {
        color: white;
        font-size: large;
    }
}
