.DeathKnight { color: #c41f3b !important }
.Druid { color: #ff7d0a !important }
.Hunter { color: #abd473 !important }
.Mage { color: #69ccf0 !important }
.Monk { color: #2d9b78 !important }
.Paladin { color: #f58cba !important }
.Priest { color: #ffffff !important }
.Rogue { color: #fff569 !important }
.Shaman { color: #2459ff !important }
.Warlock { color: #9482c9 !important }
.Warrior { color: #c79c6e !important }
.DemonHunter { color: #a330c9 !important }

.DeathKnight-bg { background-color: #c41f3b !important }
.Druid-bg { background-color: #ff7d0a !important }
.Hunter-bg { background-color: #9ec76b !important }
.Mage-bg { background-color: #69ccf0 !important }
.Monk-bg { background-color: #2d9b78 !important }
.Paladin-bg { background-color: #f58cba !important }
.Priest-bg { background-color: #ffffff !important }
.Rogue-bg { background-color: #fff569 !important }
.Shaman-bg  { background-color: #2459ff !important }
.Warlock-bg { background-color: #9482c9 !important }
.Warrior-bg  { background-color: #c79c6e !important }
.DemonHunter-bg { background-color: #a330c9 !important }

.poor { color: #9d9d9d !important }
.common { color: #fff !important }
.uncommon { color: #1eff00 !important }
.rare { color: #0070ff !important }
.epic { color: #a335ee !important }
.legendary { color: #ff8000 !important }
.artifact { color: #e5cc80 !important }

.kill { color: #1d9c07 !important }
.wipe { color: #fb6d35 !important }

.stat-health { color: #27cc4e !important }
.stat-stamina { color: #ff8b2d !important }
.stat-energy { color: #cb9501 !important }
.stat-focus { color: #d45719 !important }
.stat-fury { color: #8400ff !important }
.stat-insanity { color: #60f !important }
.stat-maelstrom { color: #008fff !important }
.stat-mana { color: #1c8aff !important }
.stat-pain { color: #d45719 !important }
.stat-rage { color: #ab0000 !important }
.stat-runicpower { color: #00bcde !important }
.stat-agility { color: #ffd955 !important }
.stat-intellect { color: #d26cd1 !important }
.stat-strength { color: #f33232 !important }
.stat-criticalstrike { color: #e01c1c !important }
.stat-haste { color: #0ed59b !important }
.stat-mastery { color: #9256ff !important }
.stat-versatility { color: #bfbfbf !important }
.stat-leech { color: #1d9c07 !important }
.stat-avoidance { color: #376321 !important }
.stat-speed { color: #ffff3d !important }

.stat-health-bg, .stat-healing-bg { background-color: #27cc4e !important }
.stat-healing-absorbs-bg { background-color: #ffd955 !important }
.stat-negative-absorbs-bg { background-color: #d45719 !important }
.stat-overhealing-bg { background-color:  #3e3d3d !important }
.stat-stamina-bg { background-color: #ff8b2d !important }
.stat-energy-bg { background-color: #cb9501 !important }
.stat-focus-bg { background-color: #d45719 !important }
.stat-fury-bg { background-color: #8400ff !important }
.stat-insanity-bg { background-color: #60f !important }
.stat-maelstrom-bg { background-color: #008fff !important }
.stat-mana-bg { background-color: #1c8aff !important }
.stat-pain-bg { background-color: #d45719 !important }
.stat-rage-bg { background-color: #ab0000 !important }
.stat-runicpower-bg { background-color: #00bcde !important }
.stat-agility-bg { background-color: #ffd955 !important }
.stat-intellect-bg { background-color: #d26cd1 !important }
.stat-strength-bg { background-color: #f33232 !important }
.stat-criticalstrike-bg { background-color: #e01c1c !important }
.stat-haste-bg { background-color: #0ed59b !important }
.stat-mastery-bg { background-color: #9256ff !important }
.stat-versatility-bg { background-color: #bfbfbf !important }
.stat-leech-bg { background-color: #1d9c07 !important }
.stat-avoidance-bg { background-color: #376321 !important }
.stat-speed-bg { background-color: #ffff3d !important }

/*https://wow.gamepedia.com/COMBAT_LOG_EVENT*/
/* Physical */
.spell-school-1-bg { background-color: #ccb278 !important }
/* Holy */
.spell-school-2-bg { background-color: #ffe680 !important }
/* Fire */
.spell-school-4-bg { background-color: #d84141 !important }
/* Nature */
.spell-school-8-bg { background-color: #4dff4d !important }
/* Frost */
.spell-school-16-bg { background-color: #80ffff !important }
/* Shadow */
.spell-school-32-bg { background-color: #8080ff !important }
/* Arcane */
.spell-school-64-bg { background-color: #ff80ff !important }
/* Double schools */
/* Spellshadow: Arcane + Shadow */
.spell-school-96-bg { background-image: linear-gradient(to bottom, #ff80ff 0%, #8080ff 100%) !important }
/* Triple and multi schools */
/* Elemental: Frost + Nature + Fire */
.spell-school-28-bg { background-color: #8cc084 !important }
/* Chronomatic: Arcane + Shadow + Frost + Nature + Fire */
.spell-school-124-bg { background-color: #a1a6b5 !important }
/* Magic: Arcane + Shadow + Frost + Nature + Fire + Holy */
.spell-school-126-bg { background-color: #b1b1ac !important }
/* Chaos: Arcane + Shadow + Frost + Nature + Fire + Holy + Physical */
.spell-school-127-bg { background-color: #b4b1a5 !important }

.parse-grey { color: #666 !important }
.parse-green { color: rgb(30, 255, 0) !important }
.parse-blue { color: rgb(0, 112, 255) !important }
.parse-purple { color: rgb(163, 53, 238) !important }
.parse-orange { color: rgb(255, 128, 0) !important }
.parse-artifact { color: rgb(229, 204, 128) !important }
