@import './Theme.scss';

.panel {
  width: 100%;
  margin-bottom: 30px;
  background: $panelColor;
  border-radius: 3px;
  border: 0;

  .panel-heading {
    padding: 20px 30px;

    h1 {
      margin: 0;
    }

    small {
      display: block;
    }
  }
  .panel-heading-image {
    height: 250px;
    background-size: cover;
    background-position: center center;
  }
  .panel-body {
    padding: 0;
  }
  .panel-body.pad {
    padding: 0 30px;
  }
  .panel-body {
    > ul {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-bottom: -10px; // compensate for the :last-of-type padding
    }
    > ul > li:not(.expandable), ul > li.expandable .meta {
      padding: 10px 30px;
    }
    > ul > li.expandable .meta:hover {
      background-color: rgba(255, 255, 255, .03);
    }
    //> ul > li:first-child {
    //  border-top: 1px solid rgba(255, 255, 255, 0.05);
    //}
    //> ul > li {
    //  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    //}
  }
  .panel-body:last-of-type > ul {
    margin-bottom: 30px;
  }
}
.panel-cell:not(:first-child) {
  margin-top: 4px;
  padding-top: 4px;
  border-top: 1px solid rgba(255,255,255, 0.1);
}
