@import "~sass-text-stroke/_text-stroke";

$primaryColor: hsl(44, 100%, 49%); // #f86725?
$muted: hsla(44, 8%, 72%, 0.47);
$red: #ac1f39;
$panelColor: hsla(44, 3%, 11%, 1);
$backgroundColor: hsl(44, 7%, 8%);
