/* NAVBAR */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999; /* 1000 is where modals start*/
  line-height: 40px;
  background: rgba(12, 12, 12, 1);
  background: linear-gradient(to bottom, rgba(18, 18, 18, 1) 0%, rgba(8, 8, 8, 1) 100%);
  border: 0;
  margin-bottom: 24px;
}
.show-report-selecter nav {
  /* Reduce opacity by 20% */
  background: rgba(12, 12, 12, 0.8);
  background: linear-gradient(to bottom, rgba(18, 18, 18, 0.8) 0%, rgba(8, 8, 8, 0.8) 100%);
}
nav > div {
  display: flex;
  flex-flow: row;
}
@media (min-width: 1200px) {
  nav > div .logo {
    margin-left: -58px; /* This move the logo just left of the content, together with the back arrow that looks quite nice. */
    font-size: 1.1em;
  }
}
nav .menu-item {
  flex: 0 1 auto;
  text-overflow: ellipsis;
  border-right: 1px solid rgba(0, 0, 0, .8);
  box-shadow: 1px 0 0 0 rgba(255, 255, 255, .1);
  white-space: nowrap;
  overflow: hidden;
}
nav .menu-item.main {
  flex: 0 0 auto;
}
nav .left-line {
  border-left: 1px solid rgba(0, 0, 0, .8);
  box-shadow: 1px 0 0 0 rgba(255, 255, 255, .1), inset 1px 0 0 0 rgba(255, 255, 255, .1);
}
nav .menu-item a {
  display: inline-block;
  padding: 4px 12px;
  color: #fff;
}
nav .menu-item a.premium {
  color: #e45a5a;
}

nav .menu-item a:hover {
  color: #e45a5a;
  text-decoration: none;
}
nav .menu-item img, nav .menu-item svg {
  height: 2.2em;
  margin: -0.4em 0 -0.4em 0;
  vertical-align: middle;
}
nav .spacer {
  flex: 1 1 auto;
}

nav .container {
  position: relative; /* make selectorHeaders float within the container box */
}
nav .selectorHeader {
  position: absolute;
  line-height: 1.4;
  left: 15px;
  top: 66px;
  width: 700px;
  z-index: 10;
  max-width: calc(100vw - 45px);
  max-height: calc(100vh - 80px);
  overflow-y: auto;
  white-space: normal; /* menu-items have this set to nowrap */
}
nav .selectorHeader a {
  color: #e45a5a;
  display: inline;
  padding: 0;
}
nav .selectorHeader .panel {
  background: rgba(0,0,0,0.95);
}

/* Mobile nav bar */
@media (max-width: 600px) {
  nav > div.container {
    padding: 0;
  }
  nav .optional {
    display: none;
  }
}
