@use 'interface/design-system' as design;

.LegendContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 8px 0;
  margin-bottom: 8px;
  justify-content: center;
}

.LegendItem {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 13px;
}

.LegendSymbol {
  width: 16px;
  height: 16px;
  background-color: var(--color);
  border-radius: 2px;
}
