@import 'interface/layout/Theme.scss';

.checklist {
  li {
    .meta {
      position: relative;
      font-size: 16px;

      &:before {
        content: '';
        position: absolute;
        left: 30px;
        top: 50%;
        transform: translateY(-50%);
        background: transparent;
        border: 2px solid $primaryColor;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        box-shadow: 0 0 2px $primaryColor;
      }
      .name {
        margin-left: 30px;
      }
      .chevron {
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%) rotate(0deg);
        color: $primaryColor;
        font-size: 0.5em;
        transition: all 400ms;
      }
      .perf {
        margin-right: 40px;
        width: 200px;
        display: flex;
        align-items: center;

        .perf-container {
          background: #000;
          width: 100%;
          border-radius: 3px;
          height: 6px;
          overflow: hidden;

          .perf-bar {
            background: $primaryColor !important;
            height: 100%;
          }
        }
      }
    }
    &.failed .meta .perf .perf-bar {
      background: #f82b19 !important;
    }
    //&.failed .meta .name:after {
    //  content: 'Needs attention';
    //  color: #f86725;
    //  float: right;
    //  margin-right: 15px;
    //}
    .details > div {
      // Increase padding to make space for the information icon
      padding-left: 77px;
      padding-right: 50px;
      position: relative;
    }
    .details .description {
      color: lighten($muted, 5%);
      position: relative;
      margin-bottom: 10px;

      > .icon:first-child {
        position: absolute;
        top: 50%;
        left: -33px;
        transform: translateY(-33%);
        font-size: 2em;
      }
    }
  }
  li.passed .meta:before {
    content: '✔';
    color: #211510;
    line-height: 1;
    text-align: center;
    background-color: $primaryColor;
  }
  li.expanded .chevron {
    transform: translateY(-50%) rotate(180deg);
  }
}
