@import 'interface/layout/Theme.scss';

.uptime-bar {
  position: relative;
  width: 100%;
  height: 6px;
  background: hsla(41, 3%, 35%, 1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);

  > div {
    background: $primaryColor;
    position: absolute;
    top: 0;
    height: 100%;
    box-shadow: 0 0 2px transparentize($primaryColor, 0.5);
  }
}
