.goodCast {
  background: none !important;
  color: #4caf50 !important;
  font-weight: bold;
}
.badCast {
  background: none !important;
  color: #f44336 !important;
  font-weight: bold;
}
.perfectCast {
  background: none !important;
  color: #2196f3 !important;
  font-weight: bold;
}
.okCast {
  background: none !important;
  color: #ffc107 !important;
  font-weight: bold;
}
