footer {
  margin-top: 60px;
  background: #111;
  background: url(./Images/background.jpg) no-repeat top center;
  background-size: cover;
  padding: 50px 0 80px 0;
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 1);
  position: relative; /* for the :before */
}
footer:before {
  content: '';
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(./Images/section-divider-bfa.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}
.social-links > * {
  font-size: 3em;
  color: #ddd;
  margin: 0 0.4em;
}
.wowanalyzer-logo {
  width: 150px;
  margin: 4em 0;
}
footer h1 {
  text-transform: uppercase;
  margin-bottom: 0.4em;
  color: #b7b7b7;
}
