.castEfficiencyColumn {
  width: 100%;
  & > * {
    width: 100%;
  }
}

.rotationTipBoxRow {
  display: grid;
  gap: 1rem;

  @media (min-width: 1100px) {
    grid-template-columns: 1fr 1fr;
  }
}

.rotationTipBox {
  & header {
    padding-bottom: 1rem;
    font-weight: bold;
  }
}
