#solace-talent-icon {
  img.icon.game {
    height: 1.5em;
    margin-top: 20px;
    margin-right: 20px;
  }
}
// padding: 15px 18px;
> .value {
  padding: 15px 8px;
  line-height: 1;
  > small {
    display: block;
  }
}

#solace-talent-icon {
  height: 2em;
}
