@import 'interface/layout/Theme.scss';

.spell-value {
  > .icon {
    padding: 15px 18px;
    background: rgba(0, 0, 0, 0.1);

    img {
      width: 56px;
      height: 56px;
      margin-top: 0;
    }
  }
  > .value {
    padding: 15px 18px;
    line-height: 1;
    color: #fff;

    > div {
      margin: 5px 0;
    }
    > small {
      display: block;
    }
  }
}
