@import 'interface/layout/Theme.scss';

.statistic.bar {
  height: 45px;
  padding: 0;
}
.statistic.bar .flex > * {
  padding: 10px 15px;
  font-size: 24px;
  line-height: 1;
  border-right: 1px solid transparentize($primaryColor, 0.925);
}
.statistic.bar .flex > *:last-of-type {
  border-right: none;
}
