.statistic {
  height: 165px;
  margin-bottom: 30px;
  border: 0 !important;
  padding: 15px 18px;
  text-shadow: 0 0 0.6px currentColor;
}
.statistic svg {
  text-shadow: none;
}
.statistic svg text {
  fill: currentColor;
}
.statistic.large {
  height: 360px;
}
.statistic.panel .panel-body {
  padding: 0;
  position: relative; /* a lot of children need relative rendering */
}
.statistic label {
  color: #b3adad;
  margin-bottom: 3px;
  /* fucking bootstrap: */
  display: block;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  text-align: inherit;
  border-radius: inherit;
  font-weight: 200;
}
.statistic .value {
  font-size: 2em;
  font-weight: 400;
  line-height: 1.4;
  color: #d8d3d3;
}
.statistic .text-muted {
  color: #777;
  opacity: 0.7;
}
