.mastery-value-tooltip{
  white-space: nowrap;
  left: 10px;
  top: 3px;
  position: relative;
}
.mastery-value-tooltip:before{
  content: '\A';
  left: -10px;
  position: absolute;
  width: 0;
  height: 0;
  z-index: 1001;
  border-top: 10px transparent solid;
  border-right: 10px rgba(10, 10, 10, 0.9) solid;
  border-bottom: 10px transparent solid;
}
