@use 'interface/design-system' as design;

.SideBySide {
  margin-top: design.$gaps_large;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: design.$gaps_large;

  align-items: start;

  & header {
    margin-bottom: design.$gaps_medium;
  }
}

.SummaryDL {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: design.$gaps_small design.$gaps_medium;
  width: max-content;

  font-size: 95%;

  & dt {
    font-weight: normal;
  }

  & dd {
    text-align: right;
  }
}
