.statistics {
  margin-left: -10px;
}
.statistics > div {
  padding: 0 10px;
}
.results .navigation {
  border-bottom: 4px solid #d84141;
}
.results .btn-link {
  min-width: 120px;
  min-height: 50px;
  outline: none;
  padding: 5px;
  transition: 300ms background;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.2em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.results .btn-link, .results .btn-link:hover, .results .btn-link:active {
  text-decoration: none;
}
.results .btn-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.results .btn-link.selected {
  color: #ffffff;
  background: #d84141;
}
.results .btn-link svg {
  font-size: 1.8em;
}

/* layout */
.results > .divider, .results > main > .divider {
  width: 100%;
  height: 2px;
  background: #000;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, .1);
  opacity: 0.8;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* header */
.results > header {
  margin: 5px auto 25px auto;
  overflow: hidden;
  max-width: 1300px;
}
.results > header .player, .results > header .boss {
  position: relative;
  font-size: 60px;
  font-weight: 700;
  line-height: 130px;
  height: 130px;
  white-space: nowrap;
}
.results > header .player {
  padding-left: 150px;
  margin: 0 150px 0 0;
}
.results > header .boss {
  padding-right: 150px;
  margin: 0 0 0 150px;
  text-align: right;
}
.results > header .player:before, .results > header .boss:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: url(./Images/vs-background.png) no-repeat top left;
  background-size: contain;
}
.results > header .boss:before {
  transform: scaleX(-1);
}
.results > header .player img, .results > header .boss img {
  position: absolute;
  top: 0;
  left: 0;
  width: 130px;
  height: 130px;
  border-radius: 50%;
}
.results > header .boss img {
  left: auto;
  right: 0;
}
.results > header .versus {
  font-size: 42px;
  font-weight: 300;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  transform: scaleY(0.8) translateY(-5px);
  /* so that the player and boss names just overlap */
  margin: -22.5px 0;
}
.results > header .about {
  text-align: center;
  margin-top: 0.7em;
  font-size: 1.4em;
  /*text-transform: uppercase;*/
  font-weight: 400;
  color: #ddd;
}


@keyframes player-anim {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}
.results > header .player {
  animation: player-anim 400ms ease-out forwards;
  left: 100%;
}
@keyframes boss-anim {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}
.results > header .boss {
  animation: boss-anim 400ms 1800ms ease-out forwards;
  left: -100%;
}
@keyframes versus-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.results > header .versus {
  animation: versus-anim 1000ms 800ms ease-in forwards;
  opacity: 0;
}
