@import 'interface/layout/Theme.scss';

.player-selection {
  padding: 15px;
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
  line-height: 0;

  .card {
    display: inline-block;
    margin: 0 5px;
    position: relative;
    width: 230px;

    //&:before {
    //  content: '';
    //  position: absolute;
    //  top: 0;
    //  left: 0;
    //  right: 0;
    //  bottom: 0;
    //  background: transparentize($primaryColor, 0.95);
    //}
    &:hover {
      // Placeholder
      // TODO: Replace
      filter: contrast(50%);
    }
    > .avatar {
      width: 100%;
      border: 1px solid transparentize($primaryColor, 0.6);
      border-radius: 3px;
    }
    > .about {
      position: relative;
      width: 100%;
      height: 80px;

      > .spec-icon {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        right: 5px;
        margin-top: 0;
        width: 24px;
        height: 24px;
        border-radius: 50%;
      }
      > .role-icon {
        position: absolute;
        top: 15px;
        right: 5px;
        margin-top: 0;
        width: 14px;
        height: 14px;
      }
      > .name {
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        text-align: center;
        font-size: 14px;
        line-height: 22px;
        color: #000;
        font-weight: 600;
        //text-shadow: 0 -1px #000, 0 1px #000, -1px 0 #000, 1px 0 #000;
        font-family: Poppins, 'Open Sans', 'Century Gothic', sans-serif;
      }
    }
  }
  > a:not(:first-of-type):not(:nth-of-type(11n)) .card {
    border-left: 0;
  }
  > a:nth-of-type(-n+10) .card {
    border-bottom: 0;
  }
}
