@import 'interface/layout/Theme.scss';

.player-selection {
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
  line-height: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  padding: 15px;

  > a {
    display: inline-block;
    border: 1px solid transparentize($primaryColor, 0.6);
    margin: 15px;

    &:hover {
      // Placeholder
      // TODO: Replace
      text-decoration: none;
      background: transparentize($primaryColor, 0.9);
      border: 1px solid $primaryColor;
    }
  }
  .card {
    display: flex;
    position: relative;
    text-align: left;
    color: #fff;
    border: 1px solid #000;

    > .avatar {
      flex: 0 0 auto;
      width: 90px;
      height: 70px;
      margin-right: 15px;
      background-size: cover;
      background-position: top center;
      position: relative;
      //margin-left: 35px;
    }
    > .about {
      flex: 1;
      position: relative;
      z-index: 1;

      h1 {
        font-size: 22px;
        margin: 15px 0 8px;
        line-height: 1;
      }

      .spec-icon {
        width: 1em;
        height: 1em;
        border-radius: 50%;
      }
      .role-icon {
        position: absolute;
        //left: 10px;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        margin-top: 0;
        width: 18px;
        height: 18px;
        opacity: 0.9;
      }
      .background {
        position: absolute;
        top: 0;
        right: 0;
        width: 70%;
        height: 100%;
        z-index: -1;
        mask-image: linear-gradient(to left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
        opacity: 0.1;
      }
    }
  }
}
