@import "common/Tooltip.scss";

/* majority stolen from Crosshair styles and react-tooltip-lite styles */
.rv-vertical-line {
  position: absolute;
  font-size: 11px;
}
.rv-vertical-line__line {
  background: white;
  width: 2px;
}
.rv-vertical-line__tooltip {
  position: absolute;
  top: 10px;
}
.rv-vertical-line__tooltip--left {
  @include tooltip-left(12px);
}
.rv-vertical-line__tooltip--left:before {
  @include tooltip-arrow-left;
}
.rv-vertical-line__tooltip--right {
  @include tooltip-right(12px);
}
.rv-vertical-line__tooltip--right:before {
  @include tooltip-arrow-right;
}

