.hits-list {
  td {
    font-weight: normal;
    padding-right: 1em;

    &:first-child {
      padding-left: 1em;
      min-width: 20em;
    }
  }

  .focused {
    background-color: #333;
  }

  .pass-fail-counts {
    text-align: right;
  }
}
