$shadow: 0 0 0px 1px hsla(45, 100%, 60%, 0.7);

.micro-timeline-coalescing {
  & > * {
    display: inline-block;
    height: 8px;

    &:hover,
    .focused {
      box-shadow: $shadow;
    }
  }
}

.micro-timeline-block {
  display: grid;
  gap: 1px;
  grid-auto-flow: column;
  justify-content: start;

  & > *:hover,
  .focused {
    box-shadow: $shadow;
  }
}
