@import 'interface/Theme.scss';

.problem-list-container {
  header {
    display: grid;
    grid-template-columns: 1fr max-content;
    font-size: 20px;
    font-weight: bold;
    padding: 1rem 0;

    button {
      appearance: none;
      background: none;
      color: $primaryColor;
      border: none;

      &:hover {
        color: lighten($primaryColor, 30%);
      }

      &:disabled {
        color: #333;
      }
    }
  }

  &.no-problems {
    display: grid;
    align-content: center;
    justify-content: center;
    font-size: 2em;

    i {
      color: #4ec04e;
      margin-right: 0.5em;
    }
  }
}
