@import 'interface/layout/Theme.scss';

.statistic {
  margin-bottom: 30px;
  border: 0 !important;
  text-shadow: 0 0 0.6px currentColor;
  position: relative;

  &.standard {
    height: 165px;
  }
  &.small {
    height: 100px;
  }
  &.medium {
    height: 140px;
  }
  &.large {
    height: 360px;
  }
  &.flexible {
    height: auto;
  }
}
// We need to override Panel's body .pad's padding to avoid applying padding twice
.statistic .pad, .statistic.panel .pad {
  margin: 16px 18px 15px;
  padding: 0;
}
.statistic svg {
  text-shadow: none;
}
.statistic svg text {
  fill: currentColor;
}
.statistic.panel .panel-body {
  padding: 0;
  position: relative; /* a lot of children need relative rendering */
  height: 100%; /* when rendering relatively, they might want to stick to the bottom */
}
.statistic label {
  color: hsla(41, 1%, 57%, 1);
  margin-bottom: 10px;
  /* fucking bootstrap: */
  display: block;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  text-align: inherit;
  border-radius: inherit;
  font-weight: inherit;
}
.statistic .value {
  font-size: 26px;
  font-weight: 600;
  color: hsla(41, 3%, 91%, 1);

  small {
    font-weight: 400;
    line-height: 1.4;
  }
  img.icon {
    border: 0;
  }
  img.icon.game {
    height: 1em;
    margin-top: -0.15em;
  }
}
// If the value is right after the label, we need to adjust its positioning further up to cancel out the combination of label's margin-bottom and value's line-height
.statistic label + .value {
  margin-top: -5px;
}
.statistic .text-muted {
  color: #777;
  opacity: 0.7;
}
.statistic .detail-corner {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  z-index: 1;
  border-right: 30px solid #2b2b2f;
  border-left: none;
  border-bottom: 30px solid transparent;
  color: #fff;
  cursor: help;

  svg {
    position: absolute;
    top: 4px;
    right: -28px;
    height: 12px;
    margin-top: 0;
    opacity: 0.5;
  }
}
.statistic .drilldown {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  background: $panelColor;
  display: none;
  line-height: 1;

  a {
    padding: 1px 10px;
    font-size: 16px;
    display: block;
  }

  &:before, &:after {
    content: '';
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 20px 0;
    border-color: transparent $panelColor transparent transparent;
  }
  &:after {
    left: auto;
    right: 0;
    transform: translateX(100%);
    border-width: 20px 20px 0 0;
    border-color: $panelColor transparent transparent transparent;
  }
}
.statistic:hover .drilldown {
  display: block;
}
