@import 'interface/Theme.scss';

.no-cast {
  color: #999;
}

.currentBreath {
  background-color: #736f4e;
  color: black;
  padding: 0 3px;
}

.optimalBreath {
  background-color: #4c78a8;
  color: black;
  padding: 0 3px;
}
