@import 'interface/Theme';

.guide-container {
  & > section {
    & > .meta > header {
      font-size: 20px;
      padding: 1rem 2rem;
      font-weight: bold;
      background-color: #333a;
    }
  }

  & .subsection {
    header {
      font-size: 16px;
      font-weight: bold;
      padding: 1rem 0;
      border-top: 1px solid #333a;
    }
  }
}
