@use 'interface/design-system' as design;

.SectionHeaderWrapper {
  font-size: design.$fontSize_heading;
  padding: design.$gaps_medium 0;
  font-weight: bold;
  color: design.$colors_wowaYellow;
  background: design.$level1_background;

  & > :global(.chevron) {
    @include design.level(2);
    border-radius: 0.2rem;

    padding: 0 design.$gaps_small;
  }

  &:hover > :global(.chevron) {
    background: design.$level2_background_active;
  }
}

.SectionExpandable {
  @include design.level(1);
  padding: 0 design.$gaps_large design.$gaps_small design.$gaps_large;

  & :global(.details) > div {
    background: unset;
    box-shadow: unset;
    padding: unset;
  }
}

.GuideContainer_ {
  display: flex;
  flex-direction: column;
  gap: design.$gaps_large;
}

.SubSectionContainer {
  /* including .guide-container here is a specificity hack */
  :global(.guide-container) & {
    margin-top: design.$gaps_large;
  }

  & > header {
    font-size: design.$fontSize_subHeading;
    font-weight: bold;
    padding: design.$gaps_small 0;
  }
}
