@import 'interface/Theme.scss';

.copyButton {
  background-color: #fab700;
  color: #211510;
  text-shadow: none;
  display: block;
  line-height: 16.8px;
  font-size: 14px;
  border-radius: 6px;
  height: 38px;
  width: 140px;
  border: none;
  font-family: Open Sans, Century Gothic, sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
  margin-left: -20px;

  &:hover {
    background-color: darken($color: #fab700, $amount: 7);
  }
}

.intervalTitle {
  font-size: 14px;
  margin: 0;
}

.intervalList {
  padding: 0;
  margin-bottom: 14px;
  line-height: 16.8px;
}

.intervalEntry {
  font-size: 13px;
  display: inline-block;
  margin-left: 8px;
}
