@import 'interface/Theme.scss';

.grid {
  grid-template-columns: 35% auto;
  display: grid;
  column-gap: 2%;
}

.table th,
.table td {
  padding: 4px 12px;
  border: 1px solid rgb(111, 111, 111);
  text-align: center;
}

.table {
  background: #222;
}

.clickToLoad {
  background-color: #d69d00;
  color: black;
  padding: 0 3px;
}
